//
// Wells
// --------------------------------------------------

.well-inverse{
  background-color:$white;
  background-image:none;
}

.well-mid{
  background-color:$white;
  @include background-image(linear-gradient(#ffffff, rgba($wellBackground, .25)));
  background-size:auto;
}
