# Ignore environment data
.env
/config/environment.yml
/environment.yml

# Ignore bundler config
/.bundle

# Ignore ruby config
.ruby-version

# Ignore the build directory
/build
/tmp

# Ignore Sass' cache
/.sass-cache

# Ignore .DS_store file
.DS_Store

# Ignore Node modules
node_modules
