# Ignore ruby config
/.sass-cache
.cache
# Ignore bundler config
.DS_Store
/environment.yml
/.bundle
/tmp
/config/environment.yml
# Ignore the build directory
.ruby-version
.env
node_modules
/build
# Ignore .DS_store file
# Ignore environment data
# Ignore Sass' cache
/.cache
# Ignore Node modules
.cache

/.cache/sprockets/ddfd43a6e66ae87bbd13ba2f702617ee
/.cache/sprockets/64228876f417a4db86fc5d62f24bde2c
/.cache/sprockets/4fcbcac266b413a570e0c9f480c470b2
