# Ignore ruby config
/.sass-cache
# Ignore bundler config
.DS_Store
/environment.yml
/.bundle
/tmp
/config/environment.yml
# Ignore the build directory
.ruby-version
.env
node_modules
/build
# Ignore .DS_store file
# Ignore environment data
# Ignore Sass' cache
/.cache
# Ignore Node modules