$sidebarWidth: 244px;
$sidebarContentWidth: 400px;
$headerHeight: 56px;
$secondaryHeaderHeight: 48px;
$minWidth: 600px;

.admin{
  @include box-sizing(border-box);
  @include position(absolute, 0px 0 0 0px);
  width:100%;
  background-color:$grayDarker;
  height:100%;
  min-width:$minWidth + $sidebarWidth;
  overflow:hidden;
}
  .admin-sidebar{
    @include box-sizing(border-box);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sidebarWidth;
    z-index: 997;
    > .navbar{
      @include position;
      z-index:2;
    }
    .navbar .dropdown>a{
      @extend %ellipsis;max-width:170px;
    }

    .nav-list-admin{
        @include position(absolute, $headerHeight 0px 44px 0px);
        padding-top:22px;
        padding-bottom:22px;
        overflow-y:auto;
        overflow-x:hidden;
    }
  }
    .admin-sidebar-footer{
        @include position(absolute, 0 0px 0px 0px);
        padding:$paddingLarge;
        background-color:rgba(black,.3);
        box-shadow:inset 0 1px 5px rgba(black,.1);
        input{
          width:100%;
          padding:0;
          margin:0;
          background-color:transparent;
          color:$grayLight;
          display:block;
          font-family:$monoFontFamily;
          font-size:$fontSizeMini;

          &:focus,&{border:0;box-shadow:none;}
        }
    }
  .admin-header{
     @include position(fixed, 0px 0px 0 $sidebarWidth);
     @include box-sizing(border-box);
     height:$headerHeight;
     z-index: 999;
     min-width:$minWidth;
     .btn{ @include position;z-index:2; }
  }
  .admin-secondary-header{
      @include position(fixed, $headerHeight 0px 0 $sidebarWidth);
      @include box-sizing(border-box);
      height:$secondaryHeaderHeight;
      z-index: 998;
      min-width:$minWidth;
      background-color:$white;
      padding:8px 10px;
      @include background-image(linear-gradient(rgba(white,0),rgba(black,.05)));
      box-shadow: inset 0 -1px 0 rgba(white, .75),
                  0 1px 0 rgba($navbarBorder,.5);
      select{
        font-family:$headingsFontFamily;
        font-size:13px;
        width:130px;
        border-color:rgba(black,.25);
        background-color:#fff;
      }
  }
  .admin-content{
    @include position(absolute, $headerHeight 0px 0px $sidebarWidth);
    @include box-sizing(border-box);
    padding:15px 20px 0;
    overflow:auto;
    background-color:$white;
    z-index: 996;
    min-width:$minWidth;
    border-left:1px solid $navbarBorder;
    .admin-secondary-header+&{
        top:$headerHeight+$secondaryHeaderHeight;
    }
  }

  .admin-sidebar-r{
    @include position(absolute, 0px 0px 0px 0);
    @include box-sizing(border-box);
    @include translateX(100%);
    @include transition(all 300ms ease);
    width:$sidebarContentWidth;
    overflow:auto;
    z-index: 1000;
    border-right:1px solid $navbarBorder;
    box-shadow:0 0 8px rgba(black,.15);
    border-radius:$baseBorderRadius 0 0 0;
    &.is-visible{
      @include translateX(0);
    }
  }
    .admin-sidebar-r-content{
      @include position(absolute, $headerHeight 0px 0px 0px);
      @include box-sizing(border-box);
      overflow:auto;
      background-color:$white;
      border-left:1px solid $navbarBorder;
      padding: 26px 20px;
    }

  .admin-infos{
    margin-bottom:30px;
    .well{
        padding:$paddingLarge;
    }
    header{
      background:lighten($wellBackground, 2%);
      padding:3px 8px;
      h5{
          margin:0;
      }
      > .pull-right{
          a{
            font-size:13px;
            opacity:.35;
            color:$black;
            &:hover{
              opacity:.5;
              text-decoration:none;
            }
          }
      }
    }
    .media-list{
        margin-top:13px;
        color:$gray;
        .media{
            margin-top:0;
        }
        .media-body{
            @extend %ellipsis;
        }
    }
    dl,
    .media-list{
      font-size: 13px;
    }
    dl [type="checkbox"] {margin-top:0;}
    dt{
      display: block;
      float: left;
      width: 120px;
      position: relative;
      color: $grayLight;
      text-align: right;
      font-weight:normal;
    }
    dd{
      margin-left: 130px;
      word-wrap: break-word;
      overflow: hidden;
      color:$black;
    }
  }


// Admin content
.admin-content .page-header,
.admin-sidebar-r-content .page-header{
  &,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6{
      margin-top:0;
  }
  .pull-right .btn{
    position:relative;
    top:7px;
  }
}

.admin-empty{
  @include user-select(none);
  height:100%;
  font-family:$headingsFontFamily;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}
  .admin-empty-wrapper{
    display: inline-block;
    vertical-align: middle;
    p{
      color:$gray;
      margin-bottom:20px;
    }
  }
  .admin-empty-icon{
    font-size:152px;
    color:$grayLighter;
  }
.admin-empty--sidebar{
  &:before{margin-right:-4px;}
  .admin-empty-wrapper{
    margin-top:-80px;
  }
  .admin-empty-icon{
    font-size:90px;
    color:lighten($grayDarker, 3%);
    text-shadow:0 -1px 0 rgba(black,.15);
  }
  p{
    color:lighten($grayDarker, 25%);
    padding-top:5px;
    text-shadow:0 -1px 0 rgba(black,.15);
    margin-bottom:0;
  }
}

.admin-inverse{
  margin:0 -20px;
  padding:15px 20px;
  $lightWell: lighten($wellBackground, 2%);
  background-color:$lightWell;
  box-shadow:0 0 0 1px #acb8c3,inset 0 1px 0 0 rgba(#607487,0.15);
}

.dropdown-organization{
    font-family:$headingsFontFamily;
    color:$white;
    font-size:14px;
}

.well-getstarted{
  a{
    color:$grayDark;
  }
}

.admin-edit-administration{
  @include position;
  > a{margin:0 2px;opacity:.5;}
  > a:hover{opacity:1;}
  &:before,
  &:after{
    @include position(absolute, 7px 0 7px -10px);
    @include background-image(
      linear-gradient(top, rgba($black, 0), $black, rgba($black, 0))
    );
    content:"";
    pointer-events:none;
    width:1px;
  }
  &:after{
    left:-11px;
    @include background-image(
      linear-gradient(top, rgba($gray, 0), $gray, rgba($gray, 0))
    );
  }
}

  .admin-playground-code{
    @include box-sizing(border-box);
    @include position(absolute, 0px 0 0px 0px);
    width:50%;
    overflow:auto;
    z-index:1;
    padding:20px;
    dt{
      font-size:14px;
    }
  }
    .admin-playground-input{
      background:$wellBackground;
      border-radius: 4px;
      overflow: hidden;
      font-size: 13px;
      border: 1px solid #d4d4d4;
      border-radius: 4px;
      overflow: hidden;
      textarea{
        @include box-sizing(border-box);
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
        border-radius: 4px 4px 0 0;
        font-size:12px;
        resize:none;
        padding:20px 10px;
        font-family:Menlo;
        margin:0;
        border:0;
        width:100%;
      }
      .CodeMirror{
        border-radius: 4px 4px 0 0;
        border:0;
        box-shadow:inset 0 1px 3px rgba(0,0,0,.1);
        border-bottom: 0px;
        pre{
          box-shadow: none;
        }
      }
    }
    .admin-playground-input-actions{
      @include pie-clearfix;
      border-top: 1px solid #d4d4d4;
      padding:4px;
      padding:10px;
      select{
        margin:0;
        width:120px;
        font-size:12px;
      }
      select,
      small{
        height:28px;
        line-height:28px;
      }
    }
  .admin-playground-result{
    @include box-sizing(border-box);
    @include position(absolute, 0px 0 0px 50%);
    background:image-url('ps_neutral.png');
    box-shadow:$hrBorder -1px 0 0,rgba($black,0.05) 1px 0 2px inset;
    width:50%;
    overflow:auto;
    z-index:1;
    padding:20px;
  }

.admin-messages{
  @include position(absolute, $headerHeight 0px 0 $sidebarWidth);
  z-index: 997;
  min-width:$minWidth;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.025);
  @include animation-fill-mode(both);
  @include animation-duration(500ms);
  @include animation-name(slideUp);
  @include animation-delay(1.5s);
  .admin-secondary-header+&{
      top:$headerHeight+$secondaryHeaderHeight;
  }
  .alert{
    padding-top:12px;
    padding-bottom:12px;
    border-radius:0;
    border-width:0 0 1px 0;
    margin:0;
  }
}

@include keyframes(slideUp){
  0%{@include translateY(-100%);}
  100%{}
};
