ul.grid{
  overflow: auto;
  .thumbnail{
    box-shadow: none;
    border:none;
    text-align: center;
    color:#B3B8BD;
    font-size: 13px;
    &:hover{
      text-decoration: none;
    }
    i{
      color:#48596B;
      width:60px;
      height: 60px;
      padding: 10px;
      margin: 0 auto;
      font-size: 3em;
      display: block;
      line-height: normal;
      height: auto;
    }
    &.disabled i{
      color: #C5C7C9;
    }
  }
}
