//
// Layouts
// --------------------------------------------------

html,body{height:100%;}
body{
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.wrapper{
  position:relative;
  padding-top:30px;
  padding-bottom:30px;
}
  .navbar-fixed-top + .wrapper{ margin-top:$navbarHeight; }

