.list-check{
  margin-top:30px;
  > li > a{
    background-color:$white;
  }
  > li > a{
    color:$grayDarker;
  }
  h5,p{
    margin:0;
  }
  .checked{
    text-decoration: line-through;
  }
}

.list-admin{
  margin-top:10px;
  > li {
      margin-bottom:5px;
  }
  > li > a, > li > .item {
    box-shadow:0 1px 1px rgba(0,0,0,0.05);
    @include background-image(linear-gradient(rgba(black,0), rgba(black,0.025)));
    border-radius:$baseBorderRadius!important;
    font-weight:normal;
    color:inherit;
    strong{
        color:$grayDarker;
    }
    &:focus,
    &:hover{
      @include background-image(linear-gradient(rgba(black,0), rgba(black,0.05)));
      background-color:darken($white, 1%);
    }
  }
  .pull-right+[class*="icon"],
  .icon-chevron-right{
    @include position(relative, 1px 0 0 0);
    opacity:.25;
    margin-left:6px;
  }
  .pull-right+[class*="icon"]{
    margin-right:2px;
    margin-left:0;
  }
}

.list-user{
  margin-top:10px;
  > li > a, > li > .item {
    @include position;
    font-weight:normal;
    color:inherit;
    strong{
        color:$grayDarker;
    }
  }

  ul.unstyled{
      > li {
          display:inline-block;
      }
      > li + li {
        &:before{
            content:"-";
            margin: 0 2px;
        }
      }
  }
  .icon-chevron-right{
    @include position(absolute, 50% 6px 0 0);
    opacity:.25;
    margin-top:-7px;
  }
}

.paging{
  margin-bottom:20px;
  text-align:center;
  li{display:inline-block;}
  li+li{margin-left:5px;}
}

.list-organizations{

}
  .list-organizations-item {
     > h4{
         @extend %ellipsis;
         a{color:$grayDark;}
     }
     code{@extend %ellipsis;}
     .btn-group{
      @include position(relative, 10px 0 0 0);
      > .btn{opacity:.75;}
    }
    .icon-cog{
      color:$black;
    }
  }
