.project-header{
  h1{margin:0 0 10px;}
  .container{
    padding:30px 0;
  }
  hr{
    margin:40px 0;
  }
  .btn{
    margin-top:6px;
  }
}
.project-content{
  > :first-child{margin-top:0;}
  > :last-child{margin-bottom: 0;}
  h1,h2,h3{
    margin-top: 50px;
  }
}

.project-share{
  padding-top:40px;
  iframe { vertical-align: top;}
}

.project-footer{
  font-family:$headingsFontFamily;
  border-top:1px solid rgba(black,.1);
  .container{
    padding:50px 0;
  }
  hr{
    margin-top:40px;
    margin-bottom:30px;
    border-top-color:rgba(black,.1);
    border-bottom-color:lighten($grayLighter, 5%);
  }
}
  .project-copyright{
    &,a{
      color:$gray;
    }
    a,.text-right{
      opacity:.5;
    }
    a:hover{
      opacity:1;
      text-decoration: none;
    }
  }
  .project-copyright-logo{
    @include position(relative, 5px 0 0 0);
    @include replace-text-with-dimensions('logo-small.png');
    line-height:0;
    vertical-align: top;
    margin-left:4px;
    display: inline-block;
  }

  .project-about{
    .pull-left{
      margin-right:25px;
    }
    h6 a {
      color:$grayDark;
    }
  }
    .project-about-description{
      margin-top:8px;
      margin-bottom:0;
      line-height: 32px;
    }
    .project-about-logo{
      @include replace-text-with-dimensions('logo-project.png');
      margin-top:0;
      margin-bottom:0;
    }
