// Headings
// -------------------------

.small-title{
  small{
    font-weight:bold;
    display: inline-block;
    line-height:1.6;
    color:$grayLight;
    border-bottom: 2px solid rgba($grayLight, .5);
    text-transform:uppercase;        
  }
}

.bordered-title{
    border-bottom:1px solid $dropdownDividerTop;
    box-shadow: 0 1px 0 $dropdownDividerBottom;
}

.light-title{
  font-weight:400;
}

.light{
  color:$gray;
}

.upper{
  text-transform:uppercase;
}

.m0{ margin-bottom:0; }
.m1{ margin-bottom:1em; }
.m2{ margin-bottom:2em; }
.m3{ margin-bottom:3em; }

.mt0{ margin-top:0; }

.hidden{ display:none; }
