@mixin inverted-border-bottom(){
  $start_white: transparentize(white, .92);
  $end_white  : transparentize(white, 1);

  $start_black: transparentize(black, .92);
  $end_black  : transparentize(black, 1);
  background: none;
  @include background-image(
    radial-gradient(50% 1px at 50% 100%,             $start_white, $start_white 70%, $end_white 100%),
    radial-gradient(50% 1px at 50% calc(100% - 1px), $start_black, $start_black 70%, $end_black 100%)
    // radial-gradient(center center, ellipse cover, #ffeda3, #ffc800)
  );
}
