//
// Icon Font: fontcustom
//

@font-face {
  font-family: "fontcustom";
  src: font-url("stylesheets/fonts/fontcustom_119c6b1453d14eea4f872424c4b9e0a5.eot");
  src: font-url("stylesheets/fonts/fontcustom_119c6b1453d14eea4f872424c4b9e0a5.eot?#iefix") format("embedded-opentype"),
       font-url("stylesheets/fonts/fontcustom_119c6b1453d14eea4f872424c4b9e0a5.woff") format("woff"),
       font-url("stylesheets/fonts/fontcustom_119c6b1453d14eea4f872424c4b9e0a5.ttf") format("truetype"),
       font-url("stylesheets/fonts/fontcustom_119c6b1453d14eea4f872424c4b9e0a5.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: font-url("stylesheets/fonts/fontcustom_119c6b1453d14eea4f872424c4b9e0a5.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-achievement:before,
.icon-achievement_alt:before,
.icon-akismet:before,
.icon-angellist:before,
.icon-arrow:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-bolt:before,
.icon-brush:before,
.icon-brush_alt:before,
.icon-bubbles:before,
.icon-cart:before,
.icon-check:before,
.icon-check_alt:before,
.icon-checkin:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-cloud:before,
.icon-cloud_download:before,
.icon-cloud_download_alt:before,
.icon-cloud_upload:before,
.icon-cloud_upload_alt:before,
.icon-code:before,
.icon-cog:before,
.icon-css3:before,
.icon-currency:before,
.icon-edit:before,
.icon-email:before,
.icon-emit:before,
.icon-error:before,
.icon-facebook:before,
.icon-facebook_alt:before,
.icon-facebook_badge:before,
.icon-facebook_badge_alt:before,
.icon-feather:before,
.icon-fire:before,
.icon-fork:before,
.icon-foursquare:before,
.icon-friends:before,
.icon-gear:before,
.icon-github:before,
.icon-google:before,
.icon-google_analytics:before,
.icon-grid:before,
.icon-guest:before,
.icon-gumroad:before,
.icon-heart:before,
.icon-html5:before,
.icon-hull:before,
.icon-hull_store:before,
.icon-image:before,
.icon-info:before,
.icon-instagram:before,
.icon-keenio:before,
.icon-key:before,
.icon-key_alt:before,
.icon-kissmetrics:before,
.icon-layers:before,
.icon-layers_alt:before,
.icon-layers_alt_2:before,
.icon-leaderboard:before,
.icon-like:before,
.icon-linkedin:before,
.icon-list:before,
.icon-loop_alt3:before,
.icon-mail:before,
.icon-meetup:before,
.icon-metrics:before,
.icon-metrics_alt:before,
.icon-mixpanel:before,
.icon-moderate:before,
.icon-ok:before,
.icon-openid:before,
.icon-paintbrush:before,
.icon-pen:before,
.icon-pencil:before,
.icon-picture:before,
.icon-picture_alt:before,
.icon-picture_alt2:before,
.icon-picture_alt_3:before,
.icon-plus:before,
.icon-power:before,
.icon-power_alt:before,
.icon-reply:before,
.icon-rocket:before,
.icon-rss_alt:before,
.icon-search:before,
.icon-share:before,
.icon-soundcloud:before,
.icon-success:before,
.icon-sun_fill:before,
.icon-sun_stroke:before,
.icon-terminal:before,
.icon-trash:before,
.icon-tumblr:before,
.icon-twitter:before,
.icon-twitter_badge:before,
.icon-user:before,
.icon-video:before,
.icon-vkontakte:before,
.icon-wand:before,
.icon-warning:before,
.icon-wrench:before,
.icon-wrench_alt:before,
.icon-wrench_alt_2:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-achievement:before { content: "\f12f"; }
.icon-achievement_alt:before { content: "\f130"; }
.icon-akismet:before { content: "\f131"; }
.icon-angellist:before { content: "\f132"; }
.icon-arrow:before { content: "\f133"; }
.icon-arrow-left:before { content: "\f134"; }
.icon-arrow-right:before { content: "\f135"; }
.icon-bolt:before { content: "\f136"; }
.icon-brush:before { content: "\f137"; }
.icon-brush_alt:before { content: "\f138"; }
.icon-bubbles:before { content: "\f139"; }
.icon-cart:before { content: "\f13a"; }
.icon-check:before { content: "\f13b"; }
.icon-check_alt:before { content: "\f13c"; }
.icon-checkin:before { content: "\f13d"; }
.icon-chevron-left:before { content: "\f195"; }
.icon-chevron-right:before { content: "\f13e"; }
.icon-cloud:before { content: "\f13f"; }
.icon-cloud_download:before { content: "\f140"; }
.icon-cloud_download_alt:before { content: "\f141"; }
.icon-cloud_upload:before { content: "\f142"; }
.icon-cloud_upload_alt:before { content: "\f143"; }
.icon-code:before { content: "\f144"; }
.icon-cog:before { content: "\f145"; }
.icon-css3:before { content: "\f146"; }
.icon-currency:before { content: "\f147"; }
.icon-edit:before { content: "\f148"; }
.icon-email:before { content: "\f149"; }
.icon-emit:before { content: "\f14a"; }
.icon-error:before { content: "\f14b"; }
.icon-facebook:before { content: "\f14c"; }
.icon-facebook_alt:before { content: "\f14d"; }
.icon-facebook_badge:before { content: "\f14e"; }
.icon-facebook_badge_alt:before { content: "\f14f"; }
.icon-feather:before { content: "\f150"; }
.icon-fire:before { content: "\f151"; }
.icon-fork:before { content: "\f152"; }
.icon-foursquare:before { content: "\f153"; }
.icon-friends:before { content: "\f154"; }
.icon-gear:before { content: "\f155"; }
.icon-github:before { content: "\f156"; }
.icon-google:before { content: "\f157"; }
.icon-google_analytics:before { content: "\f158"; }
.icon-grid:before { content: "\f159"; }
.icon-guest:before { content: "\f15a"; }
.icon-gumroad:before { content: "\f15b"; }
.icon-heart:before { content: "\f15c"; }
.icon-html5:before { content: "\f15d"; }
.icon-hull:before { content: "\f12d"; }
.icon-hull_store:before { content: "\f12e"; }
.icon-image:before { content: "\f15e"; }
.icon-info:before { content: "\f15f"; }
.icon-instagram:before { content: "\f160"; }
.icon-keenio:before { content: "\f161"; }
.icon-key:before { content: "\f162"; }
.icon-key_alt:before { content: "\f163"; }
.icon-kissmetrics:before { content: "\f164"; }
.icon-layers:before { content: "\f165"; }
.icon-layers_alt:before { content: "\f166"; }
.icon-layers_alt_2:before { content: "\f167"; }
.icon-leaderboard:before { content: "\f168"; }
.icon-like:before { content: "\f169"; }
.icon-linkedin:before { content: "\f16a"; }
.icon-list:before { content: "\f16b"; }
.icon-loop_alt3:before { content: "\f16c"; }
.icon-mail:before { content: "\f16d"; }
.icon-meetup:before { content: "\f16e"; }
.icon-metrics:before { content: "\f16f"; }
.icon-metrics_alt:before { content: "\f170"; }
.icon-mixpanel:before { content: "\f171"; }
.icon-moderate:before { content: "\f172"; }
.icon-ok:before { content: "\f173"; }
.icon-openid:before { content: "\f174"; }
.icon-paintbrush:before { content: "\f175"; }
.icon-pen:before { content: "\f176"; }
.icon-pencil:before { content: "\f177"; }
.icon-picture:before { content: "\f178"; }
.icon-picture_alt:before { content: "\f179"; }
.icon-picture_alt2:before { content: "\f17a"; }
.icon-picture_alt_3:before { content: "\f17b"; }
.icon-plus:before { content: "\f17c"; }
.icon-power:before { content: "\f17d"; }
.icon-power_alt:before { content: "\f17e"; }
.icon-reply:before { content: "\f17f"; }
.icon-rocket:before { content: "\f180"; }
.icon-rss_alt:before { content: "\f181"; }
.icon-search:before { content: "\f182"; }
.icon-share:before { content: "\f183"; }
.icon-soundcloud:before { content: "\f184"; }
.icon-success:before { content: "\f185"; }
.icon-sun_fill:before { content: "\f186"; }
.icon-sun_stroke:before { content: "\f187"; }
.icon-terminal:before { content: "\f188"; }
.icon-trash:before { content: "\f189"; }
.icon-tumblr:before { content: "\f18a"; }
.icon-twitter:before { content: "\f18b"; }
.icon-twitter_badge:before { content: "\f18c"; }
.icon-user:before { content: "\f18d"; }
.icon-video:before { content: "\f18e"; }
.icon-vkontakte:before { content: "\f18f"; }
.icon-wand:before { content: "\f190"; }
.icon-warning:before { content: "\f191"; }
.icon-wrench:before { content: "\f192"; }
.icon-wrench_alt:before { content: "\f193"; }
.icon-wrench_alt_2:before { content: "\f194"; }
