
ul.the-icons li{
  float: left;
  width: 25%;
  line-height: 25px;
}

[class^="icon-"], [class*=" icon-"]{
  background: none;
  height: auto;
  width: auto;
  display: inline;
  line-height: normal;
}
