
$base-font-size:        16px !default;
$base-line-height:      18px !default;
$base-rhythm-unit:      18px !default;
$typography_scale :     1.125 !default;
$h6_line_height: 1  !default;
$h5_line_height: 1   !default;
$h4_line_height: 1   !default;
$h3_line_height: 1.5 !default;
$h2_line_height: 1.5 !default;
$h1_line_height: 3   !default;

@import "styles";

@import "elements/panel";
@import "modules/timeline";
@import "modules/offcanvas";

@import "layouts/dashboard";
.container-fluid>.navbar-header>.navbar-brand{
  margin-left: 0;
}
