$base-font-size: 14px !default;
$base-line-height: 20px !default;
$base-rhythm-unit: 20px !default;
$typography_scale : 1.125 !default;

$border-radius-base: 5px;
$border-radius-large: 5px;
$border-radius-small: 5px;

@import "styles";

$font-size-h1: 18px;

$topbar-height: 50px;

$sidebar-width: 200px;
$sidebar-color: #fff;

$space-small: 10px;
$space-medium: $space-small * 2;
$space-large: $space-small * 3;

@import "components/dashboard/sidebar";
@import "components/dashboard/topbar";
@import "components/dashboard/user_overview";
@import "components/dashboard/page";
@import "components/dashboard/blankslate";

body, input, textarea, button {
  -webkit-font-smoothing: antialiased;
}

.customizer-editor-container {
  width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
  z-index: 500;
  -webkit-transition: width 200ms ease-in;
}

.customizer-preview-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 300px;
  overflow: hidden;
  z-index: 100;
  background: #000;
}

.customizer-preview-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pane {
  .pane-header-content,
  .pane-header-title,
  .pane-content {
    -webkit-transition: all 200ms ease-in;
  }
}

.pane-left,
.pane-right {
  display: block;
}

.pane-left {
  .pane-header-title,
  .pane-header-content {
    opacity: 0;
  }

  .pane-header-title,
  .pane-content {
    -webkit-transform: translateX(-100%);
  }
}

.pane-right {
  .pane-header-title,
  .pane-header-content {
    opacity: 0;
  }

  .pane-header-title,
  .pane-content {
    -webkit-transform: translateX(100%);
  }
}

.pane {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: none;
}

.pane.active {
  display: block;
}

.pane-header {
  @include background-image($primary_bg_image);
  height: 50px;
  margin: 0;
  padding: 0 10px;
}

.pane-header .btn {
  position: relative;
  top: 10px;
}

.pane-header-title {
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.pane-content {
  overflow: scroll;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;

  background: #EAEEF3;
  padding: 20px;
}

.customizer-section-title {
  color:#798291;
  text-transform: uppercase;
  font-size:10px;
  letter-spacing:2px;
  margin: 0 0 10px 10px;
  line-height: 1;
}

.customizer-section {
  background: #fff;
  border-radius: 5px;
}

.customizer-section + .panel,
.customizer-section + .nav-customizer,
.customizer-section + .customizer-section-title {
  margin-top: 20px;
}

.nav-customizer {
  border-top: 1px solid #D1D5DC;

  li {
    border-bottom: 1px solid #D1D5DC;
  }

  & > li > a {
    padding: 7px 10px;
    color: #555B69;
    font-weight: bold;
  }
}
