@charset "UTF-8";

/*------------------------------------*\
    Import Compass Framework
\*------------------------------------*/
@import "compass/css3";
@import "compass/reset";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";
@import "compass/typography/vertical_rhythm";

/*------------------------------------*\
    Compass Plugins
\*------------------------------------*/
@import "animation";
@import "toolkit";

/*------------------------------------*\
    HullStrap Config
\*------------------------------------*/
@import "base/colors";

/*------------------------------------*\
    Bootstrap
\*------------------------------------*/
@import "base/variables";

$base-font-size:        18px;
$base-line-height:      20px;
$base-rhythm-unit:      20px;
@include establish-baseline();  // "This is where the magic happens" —Everyone on MTV Cribs.
html{@include debug-vertical-alignment;}
// body{
//   opacity: .9;
// }
@import "bootstrap";

@import "base/typography";
/*------------------------------------*\
    Hull mixins
\*------------------------------------*/
@import "mixins/animation";
@import "mixins/center_horizontally";
@import "mixins/ellipsis";
@import "mixins/inline_block";
@import "mixins/no_select";
@import "mixins/position";
@import "mixins/reset_search_field";
@import "mixins/retina";

/*------------------------------------*\
    Iconfonts
\*------------------------------------*/
@import "iconfonts";
@import "fontcustom";

// /*------------------------------------*\
//     Components (BS Overrides)
// \*------------------------------------*/
// @import "components/navbar";


// /*------------------------------------*\
//     Modules
// \*------------------------------------*/
@import "codrops_modules/border_effects";
@import "codrops_modules/border_menu";
@import "codrops_modules/border_player";
@import "codrops_modules/search_box";
@import "codrops_modules/timed_notification";
@import "codrops_modules/annotations_overlay";
@import "codrops_modules/opening_grid";
@import "codrops_modules/sticky_table_header";
@import "codrops_modules/cbp_scroller";
@import "codrops_modules/cbp_ig_grid";
@import "codrops_modules/cbp_fwslider";
@import "codrops_modules/cbp_vimenu";
@import "codrops_modules/cbp_hrmenu";
@import "codrops_modules/cbp_qtrotator";
@import "codrops_modules/cbp_tmtimeline";


/*------------------------------------*\
    Elements
\*------------------------------------*/
@import "elements/btn";

/*------------------------------------*\
    Modules
\*------------------------------------*/
@import "modules/navbar";
@import "modules/navbar_search";
@import "modules/inverted_page";
