@charset "UTF-8";
// Master Variables
$base-font-size:        18px !default;
$base-line-height:      24px !default;
$base-rhythm-unit:      24px !default;
$typography_scale :     1.25 !default;
$h6_line_height: .5  !default;
$h5_line_height: 1   !default;
$h4_line_height: 1   !default;
$h3_line_height: 1.5 !default;
$h2_line_height: 1.5 !default;
$h1_line_height: 3   !default;

/*------------------------------------*\
    Import Compass Framework
\*------------------------------------*/
@import "compass/css3";
// @import "compass/reset";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";
@import "compass/typography/vertical_rhythm";

/*------------------------------------*\
    Compass Plugins
\*------------------------------------*/
@import "animation";
@import "toolkit";

/*------------------------------------*\
    HullStrap Config
\*------------------------------------*/
@import "base/colors";

/*------------------------------------*\
    Bootstrap
\*------------------------------------*/
@import "base/variables";
@import "bootstrap";

// $font-unit: 1rem;
@include establish-baseline();  // "This is where the magic happens" —Everyone on MTV Cribs.
// html{@include debug-vertical-alignment;}
// body{
//   opacity: .9;
// }
@import "base/rhythm";
@import "base/typography";

/*------------------------------------*\
    Hull mixins
\*------------------------------------*/
@import "mixins/animation";
@import "mixins/fades";
@import "mixins/borders";
@import "mixins/center_horizontally";
@import "mixins/ellipsis";
@import "mixins/inline_block";
@import "mixins/no_select";
@import "mixins/position";
@import "mixins/reset_search_field";
@import "mixins/retina";

/*------------------------------------*\
    Iconfonts
\*------------------------------------*/
@import "iconfonts";
@import "fontcustom";

// /*------------------------------------*\
//     Elements
// \*------------------------------------*/
@import "elements/btn";
@import "elements/nav";
@import "elements/table";
@import "elements/alert";
@import "elements/code";
@import "elements/form";
@import "elements/modal";
@import "elements/input-group";
@import "elements/list-table";
@import "elements/page-header";
@import "ladda/css/ladda";


// /*------------------------------------*\
//     Modules
// \*------------------------------------*/
@import "codrops_modules/border_effects";
@import "codrops_modules/border_menu";
@import "codrops_modules/border_player";
@import "codrops_modules/search_box";
@import "codrops_modules/timed_notification";
@import "codrops_modules/annotations_overlay";
@import "codrops_modules/opening_grid";
@import "codrops_modules/sticky_table_header";
@import "codrops_modules/cbp_scroller";
@import "codrops_modules/cbp_ig_grid";
@import "codrops_modules/cbp_fwslider";
@import "codrops_modules/cbp_vimenu";
@import "codrops_modules/cbp_hrmenu";
@import "codrops_modules/cbp_qtrotator";
@import "codrops_modules/cbp_tmtimeline";


/*------------------------------------*\
    Modules
\*------------------------------------*/

@import "layouts/inverted";

@import "modules/sections";
@import "modules/navbar";
@import "modules/carousel";
@import "modules/testimonials";
@import "modules/features";
@import "modules/jumbotron";
@import "modules/footer";
@import "modules/pricing";
@import "modules/email_cta";
@import "modules/side_nav";
@import "modules/dropdown";
@import "modules/signup_dropdown";
@import "modules/component_grid";

@import "pages/homepage";
@import "pages/features";
@import "pages/docs";
@import "pages/quick_start";



// .navbar-form .form-group.input-group {
//   position: relative;
//   display: table;
//   border-collapse: separate;
//   width: 200px;
//   .form-control{
//     @include rhythm(.5,.5,.5,.5);
//     @include adjust-font-size-to($base-font-size, 1);

//   }
// }
