<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/stylesheets/dashboard.css" rel="stylesheet">

    <script type="text/javascript" src="//use.typekit.net/jyf4qww.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="<%= page_classes %>">
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <%= yield %>
    <script>
      $(function() {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

  </body>
</html>
