  <aside class="admin-messages">
    <div class="alert">
      <a class="close" data-dismiss="alert">&#215;</a>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae minima itaque sunt eveniet voluptatem
    </div>
  </aside>
  
