<header class="admin-secondary-header">
  <button class="btn btn-primary pull-right">Render</button>
  <ul class="nav nav-pills">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Insert widget
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Identity</a>
        </li>
        <li>
          <a href="#">Activity</a>
        </li>
      </ul>
    </li> 
  </ul>
</header>

