<aside class="admin-sidebar-r">
  <header>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <a href="#" class="btn pull-right">
              Edit
            </a>
            <a href="#" class="btn js-toggle-sidebar-r">
              Close
            </a>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </header>
  <div class="admin-sidebar-r-content">
    <div class="page-header">
       <h4>Hullagram on Twitter</h4>
     </div>
     <div class="admin-infos">
       <dl>
         <dt>App ID:</dt>
         <dd>5NFvbfi5Z0vrBDH1UEhg</dd>
         
         <dt>Service type:</dt>
         <dd>twitter_app</dd>

         <dt>Organization:</dt>
         <dd>http://hull-demos.hullapp.io</dd>
       </dl>
     </div>
     
     <hr>
     
     <div class="text-right">
       <a href="#" class="btn btn-small btn-danger">Delete service</a>
     </div>
  </div>
</aside>
