.add-image-container{
  position: relative;
  .progress{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    z-index: 10000;
    border-radius: 0;
  }
  .progress-bar{
    background-color: rgba(0, 0, 0, 0);
    span{
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  &.add-image-circle{
    .add-image-wrapper{
      padding-bottom: 100%;
      border-radius: 1000px;
    }
    .add-image-clear-btn {
      position: static;
      text-align: center;
      display: block;
    }
  }
}

.add-image-clear-btn {
  text-align: center;
  display: block;
  position: absolute;
  top: - $base-line-height;
  right: 0;
}

.add-image-wrapper{
  @extend .embed-responsive;
  overflow: visible;
  background-color: transparentize($gray-darker,.9);
  clear:both;
  padding-bottom: 56.25%;
}

.add-image-content{
  opacity: .8;
  border-radius: 2px;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
  &:hover{
    opacity: 1;
  }
}

.add-image-btn-wrapper{
  .add-image-help-text{
    position: absolute;
    top: -30px;
    width: 200px;
    text-align: center;
    left: 50%;
    margin-left: -100px;
    font-size: 12px;
    opacity: 0.5;
    font-weight: 600;
  }
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%); 
  height: 1px;
  margin-top: -15px;
  z-index: 10;
  .dropdown-menu{
    max-width: none;
    width: 300px;
  }
}
.add-image-btn{
  background-color: rgba(62, 108, 134, 0.5);
  width: $base-line-height*2;
  height: $base-line-height*2;
  padding:11px;
  z-index: 10001;
  &.hover{
    background-color: transparent;
    font-size: 44px;
    width: 90px;
    height: 80px;
    opacity: .2;
  }
}

.add-image-dropzone{
  border-radius: 2px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px dashed rgba(189, 191, 192, 0.64);
  cursor: pointer;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  transform: scale3d(.8,.8,.8);
  display: none;
  pointer-events: none; 
  &.hover{
    display: block;
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}


.add-image-btn, .add-image-dropzone{
  transition: all .3s ceaser($easeOutQuint);
}

