.date-navigation{
  input.form-control{
    @extend .h5;
    @extend .text-center;
    color: $accent-text-header;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: underline;
    @include font-weight-bold;
  }
}
