.dropdown-menu{
  &.pad{
    padding:$base-line-height/2 $padding-base-horizontal;
  }
  .form-group{
    @include leader(0);
    @include trailer(0);
  }
  background-color: $white;
  @extend %white-background-colors;
  border: 0;
  @include border-radius(3px !important); 
  @include box-shadow(0 0px 1px rgba(7, 20, 34, 0.09), 0 0px 7px rgba(10, 35, 59, 0.25));
  background-clip: padding-box;

  > li a.btn-link{
    color: $link-color;
    @media screen and (max-width: $screen-sm-max){
      .offcanvas-sidebar-right &{
        color: white;
        &:hover{
          background-color: transparent;
        }
      }
    }
  }
  > li > a{
    border:0;
    @include adjust-font-size-to(13px);
    padding-left:$padding-base-horizontal;
    padding-right:$padding-base-horizontal;
    @include rhythm(0,.25,.25,0, 13px);
    white-space: nowrap;
    font-weight: 600;
    // text-transform: uppercase; 
    .icon{
      width: 20px;
      text-align: center;
      display: inline-block;
    }
  }


  .open &{
    // @extend .animated;
    // @extend .fadeInUp;
    .offcanvas-sidebar & > li > a{
      padding-left: $padding-base-horizontal;
    }
  }

  .divider{
    @include rhythm(.5,0,0,0);
    background:transparent;
    margin-right: $padding-base-horizontal;
    margin-left: $padding-base-horizontal;
    border-color: rgba(148, 148, 148, 0.14);
    @include leading-border(1px , .5);
    @include adjust-font-size-to($base-font-size);
    .offcanvas-sidebar &{
      border-color: rgba(255,255,255,.2);
    }
  }
}


.user-login-dropdown{
  img.avatar{
    height: $base-line-height*1.33333333334 - 2px;
    top: - $base-line-height / 4;
    max-height: none;
    float: left;
    position: relative;
    display: inline-block;
    @include border-radius(100px);
    left: 1 - $padding-base-horizontal;
  }
}

@media screen and (max-width:$screen-sm-max){
  .offcanvas-sidebar-right{
    .dropdown-menu>li>a{
      color: white;
      opacity: .7;
      &:hover{
        background-color: white;
        opacity: 1;
        color: $tertiary;
      }
    }
    .nav .navbar-item{
      padding-left: 9px;
      padding-right: 9px;
    }
    .nav .open > a, .nav .open >a:hover,
    .nav li >a:hover{
      background-color: white;
      color: $tertiary;
    }
    .nav .avatar .img{
      top:0;
    }
  }
} 
