$dropdown-bg-color: rgba(10, 10, 10, 0.95);
$dropdown-border-color: #d9dfe7;

%dropdown-caret{
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 8px;
  border-style: solid;
  left:19px;
  margin-right: -8px;
}


.dropdown{
  .dropdown-menu{
    margin-top: 8px;
    &::before{
      @extend %dropdown-caret;
      border-bottom-color:$dropdown-bg-color;
      bottom: 100%;
      left: 50%;
      margin-left: -8px;
    }
  }
}
.dropdown.dropdown-white, .dropup.dropup-white{
  .dropdown-menu::before{
    background-color:white;
  }  
}

.dropup{
  .dropdown-menu{
    margin-bottom: 10px;
    &::before{
      @extend %dropdown-caret;
      border-top-color:$dropdown-bg-color;
      top: 100%;
    }
  }
}

.dropdown-menu.pull-right, .dropdown-menu-right{
  &::before{
    left:auto;
    right: 24px;
  }
}
// .dropdown{
  // transform-style:preserve-3d;
  // perspective: 1000px;
  // transform-origin: 0 50%;
// }

%dropdown-menu-link{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  outline: 0;
  transition: all .2s ease-out;
  &:hover, &:focus{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.9);
  }
}
.dropdown-menu{
  backface-visibility: hidden;
  background-color: $dropdown-bg-color;
  .dropdown-white &,  .dropup-white &{
    background-color: white;
  }
  padding: 0;
  border: 0;
  border-radius: 3px !important; 
  box-shadow: 0 0px 30px rgba(10, 35, 59, 0.25);
  background-clip: padding-box;
  @include dropdown-exit-animation;
  left: 50%;

  > li a.btn-link{
    color: $off_white;
    @media screen and (max-width: $screen-sm-max){
      .offcanvas-sidebar-right &{
        color: white;
        &:hover{
          background-color: transparent;
        }
      }
    }
  }
  > li > a{
    border:0;
    @include adjust-font-size-to(13px);
    padding-left:$padding-base-horizontal;
    padding-right:$padding-base-horizontal;
    @include rhythm(0,.25,.25,0, 13px);
    white-space: nowrap;
    font-weight: 600;
    @extend %dropdown-menu-link;
    .icon{
      width: 20px;
      text-align: center;
      display: inline-block;
    }
  }

  > .active {
    > a {
      @extend %dropdown-menu-link;
    }
  }

  > .disabled {
    > a, > a:hover, > a:focus {
      color: #9AA1B1;
    }
  }
  transform-origin:top center;
  transform:translate3d(-50%,0,0);
  .open &, .active &{
    @include dropdown-entrance-animation;
    .offcanvas-sidebar & > li > a{
      padding-left: $padding-base-horizontal;
    }
  }

  .divider{
    @include rhythm(.5,0,0,0);
    background:transparent;
    margin-right: $padding-base-horizontal;
    margin-left: $padding-base-horizontal;
    border-color: rgba(148, 148, 148, 0.14);
    @include leading-border(1px , .5);
    @include adjust-font-size-to($base-font-size);
    .offcanvas-sidebar &{
      border-color: rgba(255,255,255,.2);
    }
  }

  &.pad{
    padding:$base-line-height/2 $padding-base-horizontal;
  }
  .form-group{
    @include leader(0);
    @include trailer(0);
  }
}


.btn-group.open .dropdown-toggle{
  box-shadow: none;
}

.user-login-dropdown{
  img.avatar{
    height: $base-line-height*1.33333333334 - 2px;
    top: - $base-line-height / 4;
    max-height: none;
    float: left;
    position: relative;
    display: inline-block;
    border-radius: 100px;
    left: 1 - $padding-base-horizontal;
  }
}
@media (min-width: 768px){
  .navbar-right .dropdown-menu {
    left: auto;
    right: auto;
  }
}
@media screen and (max-width:$screen-sm-max){
  .offcanvas-sidebar-right{
    .dropdown-menu>li>a{
      color: white;
      opacity: .7;
      &:hover{
        background-color: white;
        opacity: 1;
        color: $tertiary;
      }
    }
    .nav .navbar-item{
      padding-left: 9px;
      padding-right: 9px;
    }
    .nav .open > a, .nav .open >a:hover,
    .nav li >a:hover{
    }
    .nav .avatar .img{
      top:0;
    }
  }
}
