.fullpage-select-filter{
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1;
}
.fullpage-select-container{
  overflow: scroll;
  height: 100%;
  transform: translate3d(0,0,0);

  .fullpage-select-options{
    text-align: left;
  }
  .nav-tabs.nav-tabs{
    box-shadow: none;
    li{
      box-shadow: inset 0 -1px 0 rgba(222, 227, 234, 0.5);
    }
  }
  .panel-minimal {
    > .panel-heading{
      @include rhythm(0,.5,.5,0);
      box-shadow: inset 0 -1px 0 #DEE3EA, inset 0 1px 0 #DEE3EA;
      background: #F3F4F5;
      h5{
        max-width: 100%;
      }
    }
    li > small.subtext{
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.fullpage-select-options h5, .predicate small, .predicate strong {
  > i {
    margin: 0 5px; 
    &:first-child{
      margin-left: 0;
    }
  }
}
