.pitch-section{
  .usp{
    @include trailer(2);
  }
}

.jumbotron{
  background:none;
  @extend .text-center;
  @include rhythm(0,0,0,0);
  h1, .h1{
    @include adjust-font-size-to($h1_font_size);
  }
  .container{
    @include rhythm(0,3,3,0);
  }
  .jumbotron-headline{
    @include leader(0)
  }
  .jumbotron-headline+.btn-primary{
    @include font-weight-bold;
  }

  @media screen and (max-width: $screen-sm-max){
    padding: 0; 
  }

  .subtitle{
    @include font-weight-light;
    color: $light-text;
  }

  blockquote{
    border:none;
    @include font-weight-light;
    font-style: italic;
  }

  .btn{
    @include btn-rounded;
    @include font-weight-bold;
  }

  p{
    @include adjust-font-size-to($base-font-size);
    @include font-weight-normal;
    @include trailer(1);
    color: $text-color;
  }
}

.inverted-jumbotron{
  @extend .jumbotron;
}
