/*
******************
** Navbar Styles
******************
*/

$navbar-font-size:14px;

.navbar{
  border:none;
  @include rhythm(0,0,0,0);
  > .container .navbar-brand,
  > .container .navbar-header{
    margin-left: 0;
    margin-right: $padding-base-horizontal;
  }

  > .container .navbar-header{
    margin:0; 
  }

  > .container .navbar-brand{
    @media screen and (max-width: $screen-xs-max) {
      left: 0;
      margin-left: auto;
      margin-right: auto;
      float: none; 
    }
  }

  .avatar img{
    margin:  -$base-line-height/2;
    margin-right: 0;
  }
}

.navbar-toggle{
  @include rhythm(1,0,0,0);
  cursor: pointer;
  .icon-bar{
    background: transparentize($primary_bg_text,.5);
    height: 2px;
    @include border-radius(3px);
  }
}



.navbar-text{
  margin: 0;
  @include adjust-font-size-to(14px);
  // @include rhythm(1,0,0,1, 14px);
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.01em;
  @include font-weight-light;
  margin-left:$padding-base-horizontal/8;
  margin-right:$padding-base-horizontal/8;
  @include btn-rhythm(1.5, 1.5, 14px, $padding-base-horizontal);
  @media (min-width: $screen-md-min){
    margin-left:$padding-base-horizontal/4;
    margin-right:$padding-base-horizontal/4;
    @include btn-rhythm(1.5, 1.5, 16px, $padding-base-horizontal);
  }
  &.text-muted{
    margin-right: $padding-base-horizontal/2;
  }
}

%navbar-item{
  @include transition(box-shadow 0.2s ceaser($easeOutQuint));
  letter-spacing: 0.01em;
  -webkit-font-smoothing: subpixel-antialiased;
  // @include font-weight;
  @include btn-invisible;
  @include btn-rhythm(2, 1, 14px, $padding-base-horizontal);
  margin-left:$padding-base-horizontal/8;
  margin-right:$padding-base-horizontal/8;
  display: inline-block;
  text-decoration: none;
  // padding-left: $padding-base-horizontal;
  // padding-right: $padding-base-horizontal;
  opacity:1;
  color:white;
  .open > &{
    background-color: rgba(0, 0, 0, 0.12);
    @include box-shadow(none);
  }
  .icon{
    font-size: $navbar-font-size;
    line-height: $navbar-font-size;
  }
  @media (min-width: $screen-md-min){
    margin-left:$padding-base-horizontal/4;
    margin-right:$padding-base-horizontal/4;
    @include btn-rhythm(2, 1, $base-font-size, $padding-base-horizontal*2);
  }
}
.navbar>li>a.navbar-item, .nav .navbar-item{
  @extend %navbar-item;
  @include btn;
}
.navbar>li>a.navbar-item-default, .nav .navbar-item-default{
  @include btn-rounded;
  .open > &{
    @include btn-rounded;
  }
}
.navbar>li>a.navbar-item-highlight, .nav .navbar-item-highlight{
  @include btn-transparent;
  .open > &{
    @include btn-transparent;
  }
}
.navbar>li>a.navbar-item-dark, .nav .navbar-item-dark{
  @include btn-dark;
  .open > &{
    @include btn-dark;
  }
}

.navbar-branded{
  // -webkit-font-smoothing:subpixel-antialiased;
  @include background-image($primary_bg_image);
  @include blue-background-colors;
  border:none;
  .container{
    position: relative;
  }
}

%navbar-brand{
}

.navbar-branded  .navbar-brand.navbar-brand{
  @include inline-retina-sprite('logo/icon/Light@0.5x.png');
  background-position: center center;
  opacity: 1;
  @include transition(all .45s ceaser($easeOutQuint));
  height: $base-line-height*1.5;
  // width: $padding-base-horizontal*6;
  @include leader(.5);
  @include trailer(.5);
  @include adjust-leading-to(1.5);
  .navbar>.container-fluid &{
    margin-left: 0;
  }
}

.navbar-inverse .navbar-brand{
    @include inline-retina-sprite('logo/icon/Light@0.5x.png');
    @extend %navbar-brand;
}

.navbar-branded, .navbar-inverse{
  .navbar-text{
    &.text-muted{
      color: white;
      opacity: .4;
    }
  }

  .nav-pills > li.active > .navbar-item{
    @include btn-transparent;
  }

  @media screen and (min-width: $screen-sm-min) {
    .open {
      > .navbar-item, > .navbar-item:hover, .navbar-item:focus{
        border-color: transparentize($primary_bg_text, .5);
        background-color: transparentize($primary_bg_text, .88);
        color: transparentize($primary_bg_text,.1);
      }
    }
  }
}
