// .nav > li > a{
//   @include rhythm(0,0,0,0);
// }

%nav{
  > li{
    > a{
      @include rhythm(0,.5,.5,0);
    }

    &.active{
      > a, >a:hover, >a.active{
        @extend .btn-primary; 
      }
    }
  }
}

.nav{
  > li{
    .navbar-branded &{
      @media (max-width: $screen-md-max){
        padding-right: $padding-base-horizontal;
        padding-left: $padding-base-horizontal;
      }
    }
  }


  >a, >a:hover, >a:focus{
    text-decoration: none;
  }
  .open {
    >a, >a:hover, >a:focus{
      background-color: transparent;
    }
  }
 
  .offcanvas-sidebar-left &{
    margin:0; 
    > .nav > li > a{
      &:hover, &:active, &.active, .open & {
          background-color: transparent;
      }
    }
    @media (max-width: $screen-xs-max){
      > .nav > li > a{
        background-color: rgba(255,255,255,.15)
      }
    }
  }

  .avatar{
    img{
      position: relative;
      top:-1px;
      height: $base-line-height*1.5;
      @include border-radius(100px);
    }
  }
}

.nav-pills{
  @extend %nav;
  > li > a{
    @include border-radius(100px);
  }
}

.nav-tabs.nav-tabs{
  @extend %nav;
  &.nav-justified{
    li > a{
      @include rhythm(0,.5,.5,0);
      border: none;
      @include box-shadow(inset 0 -1px 0 $light-filet);
      color:$light_text;
    }
    li.active{
      > a, > a:hover, > a:focus{
        @include box-shadow(inset 0 -2px 0 $primary);
      }
    }
    li, li.active{
      > a:hover, > a:focus{
        border: none;
        color:$base-text;
      }
    }
    li.active{
      a, > a:hover, > a:focus{
        background-color: transparent;
        @include font-weight-bold()
      }
    }
  }
}

.nav-rounded{
  @extend %nav;
  > li {
    // display: inline;
    > a {
      @extend .btn-pill;
      @extend .btn-rounded;
      @extend .btn;
      // display: inline-block;
    }
    &:first-child{
      > a{
        @include border-radius(100px 0 0 100px);
      }
    }
    + li > a{
      @include border-radius(0 0 0 0);
    }
    &:last-child{
      > a{
        @include border-radius(0 100px 100px 0);
      }
    }
  }
}

