.navbar-sidebar{
  // height: 100vh;
  // overflow: scroll;
  .back-link{
    @include rhythm(0,0,1,0);
    padding-left: $padding-base-horizontal;
    display: block;
    @include font-weight-bold;
    i{
      margin-right: $padding-base-horizontal;
    }
  }


  li a {
    @include adjust-font-size-to(14px,1);
    @include rhythm(0,.125,.125,0);
    border-left: 1px solid transparent;
    @extend .text-overflow;
    @media (min-width: $screen-sm-min){
      color: $light-text;
    }
  }

  a.active{
    @include font-weight-bold;
  }

  .header {
    @include rhythm(0,0,0,0, 14px);
    @include adjust-leading-to(1, 14px);
    @include adjust-font-size-to(14px,1);
    @include font-weight-bold;
    color: $red;
    display: block;
    padding-left: $padding-base-horizontal;
  }

  &.secondary-sidebar{
    > .nav{
      @include rhythm(0,0,0,1);
    }
  }


  > .nav > li > a {
    // @include font-weight-bold;
    border-left-width: 2px;
    padding-left: $padding-base-horizontal - 2px;
  }

  .nav li {
    @include rhythm(0,0,0,0);
  }

  .nav li a {
    padding-left: $padding-base-horizontal - 1px;
    @include rhythm(0,.125,.125,0, 14px);
  }

  .nav li li a {
    padding-left: $padding-base-horizontal*2 - 1px;
  }

  .nav li li li a {
    opacity: .7;
    padding-left: $padding-base-horizontal*3 - 1px;
  }
  .active > a, a.active {
    color: $primary;
    border-left-color: $primary;
    background-color: transparent;
  }

  .nav li a{
    @include rhythm(0,.25,.25,0, 14px);
  }
  .nav li a.navbar-brand{
    @include trailer(1, 14px);
  }
  .nav li .dropdown{
    @include leader(1, 14px);
  }
  
  .navbar-form{
    @include leader(1);
    padding: 0;
  }
}

@media (max-width: $screen-sm-max){
  .navbar-sidebar.affix{
    position: static;
  }
}
@media (min-width: $screen-sm-min){
  .navbar-sidebar{

    &.affix,
    &.affix-bottom{
      position: fixed;
      top: 0;
      bottom: 0;
      height: auto;
    }

    &.affix{
      overflow: scroll;
      width: 243px;
      @media (min-width: $screen-lg-min){
        width: 278px;
      }
      .col-sm-2 &{
        width: 188px;
      }
    }
    &.affix-bottom{
      top:auto;
      bottom: 72px;
    }
  }
}

.collapsible{
  .nav .nav{
    display: none;
  }
  .nav .active .nav{
    display: block;
  }
}
