
//   @include rhythm(0,0,0,0);
// }

%nav{
  > li{
    > a{
      @include rhythm(0,.5,.5,0);
    }

    &.active{
      > a, >a:hover, >a.active{
        @extend .btn-primary; 
      }
    }
  }
}

.nav{
  > li{
    > a{
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }
    .navbar-branded &{
      @media (max-width: $screen-md-max){
        padding-right: $padding-base-horizontal;
        padding-left: $padding-base-horizontal;
      }
    }
  }


  >a, >a:hover, >a:focus{
    text-decoration: none;
  }
  .open {
    >a, >a:hover, >a:focus{
      background-color: transparent;
    }
  }
 
  .offcanvas-sidebar-left &{
    margin:0; 
    > .nav > li > a{
      &:hover, &:active, &.active, .open & {
          background-color: transparent;
      }
    }
    @media (max-width: $screen-xs-max){
      > .nav > li > a{
        background-color: rgba(255,255,255,.15)
      }
    }
  }

  .avatar{
    img{
      position: relative;
      height: $base-line-height*1.2;
      border-radius: 100px;
      margin:  -$base-line-height/2;
      margin-right: 5px;
    }
  }
}

.nav-pills{
  @extend %nav;
  > li > a{
    border-radius: 100px;
  }
}

.nav-tabs.nav-tabs{
  @extend %nav;
  border: 0;
  box-shadow: inset 0 -1px 0 0 #DEE3EA;
  li > a, li > a:hover, li > a:active, li > a:focus{
    transition: none;
    @include rhythm(0,.5,.5,0);
    border: none;
    color:$light-text;
    margin-left:0;
    margin-right:0;
  }
  li{
    margin-bottom: -1px;
    white-space: nowrap;
  }
  li, li>a{
    box-shadow: inset 0 -1px 0 $light-filet;
    // background-color: white;
  }
  li.active{
    >a{
      color:$base-text;
    }
    > a, > a:hover, > a:focus{
      box-shadow: inset 0 -2px 0 $primary;
    }
  }
  li, li.active{
    > a:hover, > a:focus{
      border: none;
      background: transparent;
    }
  }
  li.active{
    a, > a:hover, > a:focus{
      background-color: transparent;
      @include font-weight-bold()
    }
  }
  &.nav-justified{
    >.active{
      >a, >a:focus, >a.hover{
        border: none;
      }
    }
  }
}

.nav-rounded{
  @extend %nav;
  > li {
    // display: inline;
    > a {
      @extend .btn-pill;
      @extend .btn-rounded;
      @extend .btn;
      // display: inline-block;
    }
    &:first-child{
      > a{
        border-radius: 100px 0 0 100px;
      }
    }
    + li > a{
      border-radius: 0 0 0 0;
    }
    &:last-child{
      > a{
        border-radius: 0 100px 100px 0;
      }
    }
  }
}

.nav-centered{
  border-bottom: 0;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}


.nav-tree-container.nav-tree-container{
  height: 200px;
  overflow: scroll;
  position: relative;
  padding: 0;
  position: absolute;
  bottom: -199px;
  width: 100%;
  z-index: 1;
  background: white;
  box-shadow: inset 0 0 0 1px $light-filet;
}
.nav-tree-column{
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset -1px 0 0 $light-filet;
  .nav-tabs{
    height: 200px;
    overflow: scroll;
  }
  .nav-tabs.nav-tabs{
    li, li>a{
      background: transparent;
    }
    li>a{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.navbar.nav-main{
  z-index: 1001;
}


.nav-tabs.nav-branded, .sidebar-branded .nav-tabs.nav-tabs{
  box-shadow: none;
  li{
    box-shadow: none;
    a {
      color: transparentize($white, .5);
      @include adjust-font-size-to(12px, 1.25);
      box-shadow: none;
      letter-spacing: .03em;
      text-transform: uppercase;
    }
    &.active a {
      color: white;
      text-transform: uppercase;
      @include font-weight-semibold;
      box-shadow: 0 0 0 1px transparentize($white, .7);
      background-color: transparentize($white, .9);
      border-radius: 3px;
      &:hover{
        box-shadow: 0 0 0 1px transparentize($white, .6);
        background-color: transparentize($white, .8);
      }
    }
  }
}

// .overview-horizontal-tabs{
//   nav{
//     float: left;
//     width: 25%;
//     box-shadow: inset 0 0 0 1px rgba(222, 227, 234, 0.6);
//     padding: 1px;
//   }
//   .tab-content{
//     float: left;
//     width: 75%;
//   }
// }
