// .panes{
//   background-size: 100% 50px;
//   background-repeat: no-repeat;
//   width:300px;
//   position: fixed;
//   height: 100vh;
// }
.pane {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: $off-white;
  background: $white;
  // overflow: hidden;
  // display: none;
  // &.active {
  //   display: block;
  // }
}

.customizer-editor-container {
  width: 300px;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0;
  height: 100%;
  background: $off-white;
  z-index: 500;
}

// .pane-header {
//   @include background-image($primary_bg_image);
//   @extend .topbar;
//   @include rhythm(0,.5,.5,0);
//   padding-left:$grid-gutter-width/2; 
//   padding-right:$grid-gutter-width/2; 
//   position: relative;
// }


// .pane-header-title {
//   @extend .topbar-breadcrumb;
//   @include font-weight-semibold;
//   color:white;
//   text-align: center;
//   white-space: nowrap;
// }

.pane-content {
  @include transform(translateZ(0));
  overflow: scroll;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  background: $off-white;
  background: $white;
}

.pane-titles{
  @include transform(translateZ(0));
}



.paneLeft-enter-active,
.paneLeft-leave-active,
.paneRight-enter-active,
.paneRight-leave-active,
.customizer-editor-container{
  &, .pane-content, .pane-titles{
    @include transition(all .2s ceaser($easeInOutSine));
  }
}

.paneRight-enter{
  opacity: .9;
  .pane-content{opacity: 0;    @include transform(translateX(-20%)); }
  .pane-titles{opacity: 0;     @include transform(translateX(-80%)); }
  &.paneRight-enter-active{
    opacity: 1;
    .pane-content{opacity: 1;  @include transform(translateX(0%));}
    .pane-titles{opacity: 1;   @include transform(translateX(0%));}
  }
}
.paneRight-leave{
  opacity: 1;
  .pane-content{opacity: 1;    @include transform(translateX(0%));}
  .pane-titles{opacity: 1;     @include transform(translateX(0%));}
  &.paneRight-leave-active{
    opacity: .9;
    .pane-content{opacity: 0;  @include transform(translateX(20%)); }
    .pane-titles{opacity: 0;   @include transform(translateX(80%)); }
  }
}


.paneLeft-enter{
  opacity: .9;
  .pane-content{opacity: 0;    @include transform(translateX(20%)); }
  .pane-titles{opacity: 0;     @include transform(translateX(80%)); }
  &.paneLeft-enter-active{
    opacity: 1;
    .pane-content{opacity: 1;  @include transform(translateX(0%));}
    .pane-titles{opacity: 1;   @include transform(translateX(0%));}
  }
}
.paneLeft-leave{
  opacity: 1;
  .pane-content{opacity: 1;    @include transform(translateX(0%));}
  .pane-titles{opacity: 1;     @include transform(translateX(0%));}
  &.paneLeft-leave-active{
    opacity: .9;
    .pane-content{opacity: 0;  @include transform(translateX(-20%)); }
    .pane-titles{opacity: 0;   @include transform(translateX(-80%)); }
  }
}
