.predicate-name{
  .predicate-level{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
    overflow: hidden;
    display: inline-block;
  }
  @for $i from 1 through 6 {
    .predicate-level-#{$i} {
      padding-left: ($padding-base-horizontal/2)*$i;
    }
  }
}
