.predicate-inline{
  float: left;
  margin-right: 30px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
  border-radius: 100px;
  @include rhythm(0,.5,.5,0);
  background-color: $off_white;
  padding-left: $padding-base-horizontal*2;
  padding-right: $padding-base-horizontal*2;
  // margin: 5px 10px;
  .property-color-indicator{
    top: 2px;
  }
  &+h6{
    float: left;
  }
  &.disabled{
    @extend .text-muted;
    clear: both;
  }
}
.predicate-name{
  .predicate-level{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
    overflow: hidden;
    display: inline-block;
  }
  @for $i from 1 through 6 {
    .predicate-level-#{$i} {
      padding-left: ($padding-base-horizontal/2)*$i;
    }
  }
}
