.login-or-signup-separator{
  @media screen and (max-width: $screen-xs-max) {
    display: none;
  }
}

.drop-element.drop-theme-arrows-bounce .drop-content{
  padding:0;
}

$drop-form-width:350px;
.drop-form{
  width: $drop-form-width;
  margin-right: -$drop-form-width/2;
  background-color: white;
  @include rhythm(.5,.5,.5,0);
  .social-buttons{
    padding:0 $padding-base-horizontal*1.2;
    .col-xs-3{
      padding:0;
    }
    .btn{
      padding:0; 
      opacity: 1;
      .icon{
        @include adjust-font-size-to(24px);
      }
    }
    h6{
      @include rhythm(1,0,0,.5, $h6_font_size);
    }
  }
  .or-separator {
    span {
      color: $light-text;
      display: inline-block;
      position: relative;
      padding: 0 $padding-base-horizontal;
    }
  }
}
