
.sticky-bar {
  height: 50px;
}
.sticky-content{
  right: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  .broadcast-query & {
    left:$sidebar_width;
  }
}
.sticky-primary{
  top: 0;
  z-index: 1000;
}
.sticky-secondary{
  top: 50px;
  z-index: 2;
}
.sticky-tertiary{
  top: 100px;
  z-index: 1;
}



.sticky-bar{
  .datagrid-table{
    display: none;
  }
}
.sticky-filter-bar>div{
  background-color:$off-white;
  @include transition(background-color .25s linear);
};
.sticky-filter-bar{
  .sticky-filter-users{
    display: none;
  }
}
.sticky-filters{
  .sticky-filter-users{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.sticky-primary.sticky-filters{
  background: white;
}


.sticky-table-header{
  background: $off-white;
  height: 37px;
  overflow: hidden;
  table.datagrid-table{
    position: absolute;
    display: block;
    margin-left: $grid-gutter-width/2;
    margin-bottom:0;
  }
}

.sticky-ckeditor{
  .cke_top .cke_toolbox{
    left: 255px;
    position: fixed;
    top: 0px;
    right: 15px;
    z-index: 10;
  }
  .cke{
    padding-top: 38px;
  }
  .selectors-select{
    position: fixed;
    right: 18px;
    top: 54px;
    z-index: 10;
  }
}

// .sticky-sidebar{
//   position: fixed;
//   top: 0px;
// }
