@import "compass/css3";
@import "compass/utilities/general/clearfix";

@import "vex/sass/mixins";
@import "vex/sass/keyframes";

@include keyframes-vex-rotation;


.vex, .vex *, .vex *:before, .vex *:after{
  @include box-sizing(border-box);
}

.vex{
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1111;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


// IE
.vex-overlay{
  background: #000;
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.vex-overlay{
  transform: translate3d(0,0,0);
  position: fixed;
  background: $overlay-gradient;
  @include modal-overlay-entrance-animation;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .vex.vex-closing &{
    @include modal-overlay-exit-animation;
  }
}

%vex-content{
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  box-shadow: 0 0 70px rgba(0,0,0,.14);
  background: white;
}
%vex-close{
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  &:before{
    font-family: Arial, sans-serif;
    content: "\00D7";
    border-radius: 3px;
    position: absolute;
    font-size: 26px;
    font-weight: normal;
    line-height: 31px;
    height: 30px;
    width: 30px;
    text-align: center;
    top: 3px;
    right: 3px;
    color: #bbb;
    background: transparent;
  }
  &:hover:before, &:active:before{
    color: #777;
    background: #e0e0e0;
  }
}


.vex-dialog-form{
  margin: 0 // Browser reset
}

.vex-dialog-button{  
  -webkit-appearance: none;
  cursor: pointer;
}

.vex-loading-spinner{
  @include vex-animation(vex-rotation .7s linear infinite);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1112;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2em;
  width: 2em;
  background: #fff;
}

body.vex-open{
  overflow: hidden;
//   perspective: 1000px;
//   @include background-image($primary-gradient); 
//   transform-style: preserve-3d;
//   transform-origin: center center;
  #main-root{
    // transition: all 300ms ceaser($easeOutQuint);
    // filter: blur(5px);
    // @include animation( hull-fadescaleout 300ms forwards cubic-bezier(.8, .02, .45, .91));
    // @include translate3d(0, 0, -100px);
  }
}

.vex.vex-theme-default{
  padding-top: 60px;
  padding-bottom: 60px;

  // transform-style: preserve-3d;
  // transform-origin: center center;

  &.vex-loading-spinner{
    box-shadow: 0 0 0 .5em #f0f0f0, 0 0 1px .5em rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    background: #f0f0f0;
    border: .2em solid transparent;
    border-top-color: #bbb;
    top: -1.1em;
    bottom: auto;
  }

  .vex-close{ @extend %vex-close; }

  .vex-content{
    @extend %vex-content;
    @include rhythm(0,1,1,0);
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    width: 730px;
    border-radius: 3px;
    @include modal-entrance-animation;
  }
  &.vex-closing .vex-content{ @include modal-exit-animation;     }



  .vex-dialog-buttons{
    text-align: right;
    .vex-dialog-button{@extend .btn;@extend .btn-sm;}
    .vex-dialog-button-primary{@extend .btn-primary;}
    .vex-dialog-button-secondary{@extend %btn-link; @extend .text-danger}
  }

  .vex-dialog-form{
    .vex-dialog-prompt-input{
      @extend %form-control;
      @extend .mb-1;
      @extend .mt-1;
      width: 100%;
    }
    .vex-dialog-buttons{
      @include pie-clearfix();
    }
  }
}

.vex.vex-theme-fullheight{
  .vex-close{ @extend %vex-close; }

  .vex-content-wrapper, .vex-dialog {
    height: 100%;
  }
  .vex-content{
    @extend %vex-content;
    top: 0;
    position: fixed;
    left: 50%;
    margin: 0; 
    height: 100%;
    width: 500px;
    overflow: scroll;
    @include modal-slideup-animation;
  }
  &.vex-closing .vex-content{ @include modal-slidedown-animation; }
  .vex-close:before{
    z-index: 1;
    top:26px;
    right:31px;
  }

}

.vex-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
