@import "compass/css3";
@import "compass/utilities/general/clearfix";

@import "vex/sass/mixins";
@import "vex/sass/keyframes";

@include keyframes-vex-fadein;
@include keyframes-vex-fadeout;
@include keyframes-vex-rotation;
@include keyframes-vex-flyin;
@include keyframes-vex-flyout;
@include keyframes-vex-pulse;


.vex, .vex *, .vex *:before, .vex *:after{
  @include box-sizing(border-box);
}

.vex{
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1111;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// IE
.vex-overlay{
  background: #000;
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.vex-overlay{
  position: fixed;
  background: $overlay_bg_gradient;
  @include modal-overlay-entrance-animation;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .vex.vex-closing &{
    @include modal-overlay-exit-animation;
  }
}


.vex-content{
  @include modal-entrance-animation;
  background: #fff;

  .vex.vex-closing &{
    @include modal-exit-animation;
  }
}

.vex-close:before{
  font-family: Arial, sans-serif;
  content: "\00D7";
}

.vex-dialog-form{
  margin: 0 // Browser reset
}

.vex-dialog-button{  
  -webkit-appearance: none;
  cursor: pointer;
}

.vex-loading-spinner{
  @include vex-animation(vex-rotation .7s linear infinite);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1112;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2em;
  width: 2em;
  background: #fff;
}

#main-root{
  transition: all 300ms ceaser($easeOutQuint);
}

// body{
//   @include background-image($primary_bg_image); 
//   perspective: 1000px;
//   transform-style: preserve-3d;
//   transform-origin: center center;
// }

// body.vex-open{
//   overflow: hidden;
//   #main-root{
//     filter: blur(7px);
//     // @include animation( hull-fadescaleout 300ms forwards cubic-bezier(.8, .02, .45, .91));
//     @include translate3d(0, 0, -100px);
//   }
// }

$blue: #3288e6;

.vex.vex-theme-default{
  padding-top: 60px;
  padding-bottom: 60px;
  // perspective: 1000px;
  transform-style: preserve-3d;
  transform-origin: center center;

  &.vex-closing .vex-content{
    @include modal-exit-animation;
  }
  &.vex-opening .vex-content{
    @include modal-entrance-animation;
  }

  .vex-content{
    border-radius: 3px;
    transform: translate3d(-50%);
    @include rhythm(0,1,1,0);
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 730px;
    box-shadow: 0 0 70px rgba(0,0,0,.14);
  }


  .vex-close{
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    &:before{
      border-radius: 3px;
      position: absolute;
      content: "\00D7";
      font-size: 26px;
      font-weight: normal;
      line-height: 31px;
      height: 30px;
      width: 30px;
      text-align: center;
      top: 3px;
      right: 3px;
      color: #bbb;
      background: transparent;
    }

    &:hover:before, &:active:before{
      color: #777;
      background: #e0e0e0;
    }
  }


  .vex-dialog-form{
    .vex-dialog-message{
      margin-bottom: .5em
    }
    .vex-dialog-input{
      margin-bottom: 1em
    }
    // textarea, input[type="date"], input[type="datetime"], input[type="datetime-local`"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]{
    //   border-radius: 3px;
    //   background: #fff;
    //   width: 100%;
    //   padding: .25em .67em;
    //   border: 0;
    //   font-family: inherit;
    //   font-weight: inherit;
    //   font-size: inherit;
    //   min-height: 2.5em;
    //   margin: 0 0 .25em;
    //   &:focus{
    //     box-shadow: inset 0 0 0 2px lighten($blue, 20%);
    //     outline: none;
    //   }
    // }
    .vex-dialog-buttons{
      @include pie-clearfix();
    }
  }

  // .vex-dialog-button{
  //   border-radius: 3px;
  //   border: 0;
  //   float: right;
  //   margin: 0 0 0 .5em;
  //   font-family: inherit;
  //   text-transform: uppercase;
  //   letter-spacing: .1em;
  //   font-size: .8em;
  //   line-height: 1em;
  //   padding: .75em 2em;
  //   &.vex-last{
  //     margin-left: 0;
  //   }
  //   &:focus{
  //     @include vex-animation(vex-pulse 1.1s infinite);
  //     outline: none;
  //     @media (max-width: 568px){
  //       @include vex-animation(none);
  //     }
  //   }
  //   &.vex-dialog-button-primary{
  //     background: $blue;
  //     color: #fff;
      
  //   }
  //   &.vex-dialog-button-secondary{
  //     background: #e0e0e0;
  //     color: #777;
  //   }
  // }
}

.vex-loading-spinner.vex-theme-default{
  box-shadow: 0 0 0 .5em #f0f0f0, 0 0 1px .5em rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  background: #f0f0f0;
  border: .2em solid transparent;
  border-top-color: #bbb;
  top: -1.1em;
  bottom: auto;
}


.vex-dialog-buttons{
  text-align: right;
  .vex-dialog-button{@extend .btn;@extend .btn-sm;}
  .vex-dialog-button-primary{@extend .btn-primary;}
  .vex-dialog-button-secondary{@extend %btn-link; @extend .text-danger}
}
