$transition-duration: .5s;
$transition-duration-short: .2s;
$cd-spacing:60px;

// .page {
//   // transition: top $transition-duration;
//   /* Force Hardware Acceleration in WebKit */
//   // transform: translateZ(0);
//   // backface-visibility: hidden;
//   // top:0;
//   // overflow: hidden;
//   // top:$cd-spacing;
//   min-height: calc(100vh - 60px);
//   &.nav-is-visible, .nav-is-visible & {
//     // transform: translateY(70px);
//     // margin-top: 0;
//     // @media only screen and (min-width: 768px) {
//     //   top:$cd-spacing;
//       // transform: translateY(70px);
//     // }
//   }
// }
// 

.customizer{
  transition: top $transition-duration*1.01;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // .nav-is-visible &{
  //   top: $cd-spacing;
  // }
}

// // .cd-3d-nav-wrapper{
// //   position: absolute;
// //   left: 0;
// //   right: 0;
// //   height: 0;
// // }
// /* -------------------------------- 

// Main Components 

// -------------------------------- */
.cd-3d-nav-trigger {

  $c3d-trigger-color:$gray;
  position: absolute;
  margin-left: 0;
  top: 2px;
  height: 45px;
  width: 45px;
  /* replace text with background image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  z-index: 10000;

  transition: all $transition-duration-short;

  span, span::before, span::after {
    /* hamburger icon in CSS */
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: $c3d-trigger-color;
    backface-visibility: hidden;
  }
  span {
    /* this is the central line */
    top: 21px;
    left: 8px;
    transition: background $transition-duration-short;
    &::before, &:after {
      /* these are the upper and lower lines */
      content: '';
      left: 0;
      transition: transform $transition-duration-short;
    }
    &::before {
      bottom: 8px;
    }
    &::after {
      top: 8px;
    }
    .nav-is-visible & {
      /* hide line in the center */
      background-color: transparentize($gray,1);
    }
    .nav-is-visible &::before, .nav-is-visible &::after {
      /* keep visible other 2 lines */
      background-color: $gray;
    }
    .nav-is-visible &::before {
      transform: translateY(8px) rotate(-45deg);
    }
    .nav-is-visible &::after {
      transform: translateY(-8px) rotate(45deg);
    }
  }
}

.cd-3d-nav-container {
  background-color: #000000;
  background-image: none;
  // visibility: hidden;
  /* enable a 3D-space for children elements */
  perspective: 1000px;
  transform: translateY(-100%);
  transition: transform $transition-duration 0s, visibility 0s $transition-duration;
  &.nav-is-visible {
    z-index: 1032;
    visibility: visible;
    transform: translateY(0);
    transition: transform $transition-duration 0s, visibility $transition-duration 0s;
  }
  // @media only screen and (min-width: 768px) {
  //   height: 170px;
  // }
}

.cd-3d-nav {
  /* this is the 3D rotating navigation */
  position: relative;
  height: 100%;
  width: 100%;
  color: rgba($sidebar-color, .8);
  @include background-image($primary-gradient);

  /* Force Hardware Acceleration */
  transform: translateZ(0);
  backface-visibility: hidden;
  transform-origin: center bottom;
  transform: rotateX(90deg);
  transition: transform $transition-duration;
  &::before {
    /* menu dark cover layer - to enhance perspective effect */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 1;
    visibility: visible;
    transition: opacity $transition-duration 0s, visibility $transition-duration 0s;
    z-index: 10;
    display: block;
  }
  // .cd-selected a {
    // background-color: #212635;
    // .no-touch &:hover {
    //   background-color: #212635;
    // }
    // &::before {
    //   background-position: 0 -32px;
    // }
  // }
  .nav-is-visible & {
    transform: translateZ(0);
    &::before {
      /* menu cover layer - hide it when navigation is visible */
      opacity: 0;
      visibility: hidden;
      transition: opacity $transition-duration 0s, visibility 0s $transition-duration;
    }
  }
}

.cd-marker {
  /* line at the bottom of nav selected item */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
  background-color: currentColor;
  transform-origin: center bottom;
  transform: translateZ(0) rotateX(90deg);
  transition: transform $transition-duration, left $transition-duration, color $transition-duration, background-color $transition-duration;
  &::before {
    /* triangle at the bottom of nav selected item */
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom-color: inherit;
  }
  .nav-is-visible &{
    transform: translateZ(0);
  }
}

.navbar-static-top .nav>.dropdown>.btn-pill{
  margin-left: 0px;
}
