body.dashboard{

  // Desktop Styles
  @media screen and (min-width: $screen-md-min) {
    // .offcanvas-content{
    //   padding-top: $base-line-height;
    // }
  }
  @media screen and (max-width: $screen-sm-max) {
    .navbar-header{
      margin-left: auto;
      margin-right: auto;
    }
  }
  .org-selector{
    .dropdown{
      .dropdown-toggle{
        @extend .text-overflow;
        display: block;
      }
    }
    .pull-right{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
    }
  }

  .navbar-brand{
    i.logo{
      @include inline-retina-sprite('logo/navbar-logo.png');
      @include fade-in-hover;
      height: $base-line-height*2;
    }
  }
  .navbar-header>.navbar-brand i.logo{
    @include inline-retina-sprite('logo/icon/chevron.png');
    background-position: center left;
    opacity: 1;
    @include transition(all .45s ceaser($easeOutQuint));
    height: $base-line-height*2;
  }
}
