body.dashboard{
  background: white;
  .navbar-fixed-top{
    @include background-image($primary_bg_image);
    & + .page{
      margin-top: $base-line-height*3;
    }
  }
  .navbar-brand{
    @include inline-retina-sprite('logo/navbar-logo.png');
    @include fade-in-hover;
  }
  .navbar-header>.navbar-brand{
    @include inline-retina-sprite('logo/icon/chevron.png');
    background-position: center left;
    opacity: 1;
    margin-left: 0;
  }
}
