@mixin blue-background-colors{
  color: $primary_bg_text;
  h1, h2, h3, h4, h5, h6, a{
    color: $primary_bg_text;
  }
  .btn-pill{
    @include btn-transparent();
  }
}

@mixin inverted-background-colors{
  -webkit-font-smoothing:antialiased;
  color: $secondary_bg_text;   
  h1, h2, h3, h4, h5, h6{
    color: $white;
  }
  .btn-pill{
    @include btn-transparent();
  }
}

@mixin inverted-border-bottom(){
  $start_white: transparentize(white, .92);
  $end_white  : transparentize(white, 1);

  $start_black: transparentize(black, .92);
  $end_black  : transparentize(black, 1);
  background: none;
  @include background-image(
    radial-gradient(50% 1px at 50% 100%,             $start_white, $start_white 70%, $end_white 100%),
    radial-gradient(50% 1px at 50% calc(100% - 1px), $start_black, $start_black 70%, $end_black 100%)
    // radial-gradient(center center, ellipse cover, #ffeda3, #ffc800)
  );
}

@mixin inverted-background{
  background-position:  top center;
  background-repeat:    no-repeat;
  background-color:     $secondary_bg_color;
  @include background-image(
    radial-gradient(1500px 500px at top,
      transparentize(lighten($secondary_bg_color, 50%), .7) 0%,
      transparentize($secondary_bg_color, .3) 100%
    )
  );
  @include inverted-background-colors;
}
%inverted-background{
  @include inverted-background;
}

%blue-background{
  background-color:$primary_bg_color;
  @include background-image($primary_bg_image);
  @include blue-background-colors;
  .input-group-addon, .btn-link{color:white;}
}

%inverted-page{
  @extend %inverted-background;
  .footer{
    box-shadow: none;
    .navbar-brand{
      @include inline-retina-sprite('logo/navbar-logo.png');
      @include fade-in-hover;
    }
    .navbar-item{
      @include font-weight-semibold;
      @include btn-invisible();
      // @extend .btn-white;
    }
  }
}
.inverted-jumbotron{
  @extend .jumbotron;
  @include inverted-background-colors;
  @include inverted-border-bottom;
}

%white-background-colors{
  p{
    color: $text-color;
  }
  h1, h2, h3, h4, h5, h6{
    color: $black_2;
  }
}
