/*
 * Off Canvas
 * --------------------------------------------------
 */


$sidebar_width: 260px;

// Defaults
.offcanvas-container{
  @include transition(all .3s ceaser($easeOutQuint));
}

.offcanvas-content{
  z-index: 99;
  -webkit-transform-style: preserve-3d;
  // @include transform(translate3d(0,0,0));
  // min-height: 100vh;
  min-height: 100vh;
  background:white;
  background-color: #eaeef3;  
}

.offcanvas-toggle{
  // position: absolute;
  // display: block;
  // top:0;
  // z-index: 10000;
  // margin-left: 15px;
  // margin-right: 15px;
  &[data-side='left']{
    float: left;
    margin-left: -10px;
  }
  &[data-side='right']{
    float: right;
    margin-right: -10px;
  }
  .icon-bar{
    @include transform(0);
    @include transition(all .5s ceaser($easeOutQuint) .30s);
    position: relative;
    top: 0;
  }
}

.offcanvas-sidebar, .offcanvas-content, .offcanvas-navbar{
  @include transition(all .45s ceaser($easeOutQuint));
}

// Active State

.offcanvas-active-left{
  .offcanvas-toggle[data-side='left'] .icon-bar{
    background-color: white;
    &:nth-child(2){ top: 4px;  @include transform(rotate(45deg)); }
    &:nth-child(4){ top: -8px; @include transform(rotate(-45deg)); }
    &:nth-child(3){ opacity: 0; }
  }
}
.offcanvas-active-right{
  .offcanvas-toggle[data-side='right'] .icon-bar{
    background-color: white;
    &:nth-child(2){
      top: 8px;
      @include transform(rotate(45deg)); 
    }
    &:nth-child(3){
      opacity: 0;
    }
    &:nth-child(4){
      top: -4px;
      @include transform(rotate(-45deg)); 
    }
  }
}


// Mobile-only Styles
@media screen and (max-width: $screen-sm-max) {
  html, body{
    overflow-x: hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
  }

  html, body, .offcanvas-container, .offcanvas-wrapper, .offcanvas-content{
    // overflow-x: hidden;
    // overflow-y:scroll;
    // -webkit-overflow-scrolling: touch;
    // height: 100%;
  }
  body{
    position: relative;
  }

  // Default States
  .offcanvas-container{
    -webkit-perspective: 1500px;
  }
  .offcanvas-wrapper{
    padding-top: $base-line-height*3;
    overflow-x:hidden;
  }
  .overflow-content{
    @include transform-origin(0 50%);
  }
  // .offcanvas-navbar{
  //   position: absolute;
  // }
  .offcanvas-sidebar{
    height: 100vh;
    overflow-y:scroll;
    overflow-x:hidden;
    position: fixed;
  }
  .offcanvas-sidebar-left{
    z-index: 1000;
    width: $sidebar_width;
    background-color: $secondary_bg_color;
    @include background-image($secondary_bg_gradient);
    @include blue-background-colors;
    @include transform(translate3d(- $sidebar_width,0,0));
    @include transition(all .45s ceaser($easeOutQuint));
  }

  .offcanvas-sidebar-right{
    @include blue-background-colors;
    @include make-sm-column(6);
    @include transition(all .45s ceaser($easeOutQuint));
    @include transform(translate3d(100%,0,0));
    position: fixed;
    height: 100vh;
    width: $sidebar_width;
    right: 0;
    top: 0;
    .header, .text-accented{
      color: $secondary;
    }
    .nav > li{
      width: 100%;
    }
    .navbar-right{
      float: left !important;
      
    }
  }

  .offcanvas-active{
    height: 100vh;
    overflow-y:hidden;
  }

  // Active Left State
  .offcanvas-active-left{
    .offcanvas-navbar{
      @include transform(translate3d($sidebar_width, 0, 0));
    }
    .offcanvas-sidebar-left{
      @include transform(translate3d(0,0,0));
    }
    .offcanvas-content{
      overflow: hidden;
      // opacity: .5;
      height: 100vh;
      @include transform(translate3d($sidebar_width, 0, 0));
    }
  }

  // Active Right State
  .offcanvas-active-right{
    .offcanvas-navbar{
      @include transform(translate3d(- $sidebar_width, 0, 0));
    }
    .offcanvas-content{
      @include transform(perspective(600px) translate3d(-300px, 0, -200px));
      overflow: hidden;
      height: 100vh;
      // opacity: .5;
    }
  }

}

// Desktop Styles
@media screen and (min-width: $screen-md-min) {
  html, body, .offcanvas-content{
    // overflow-x: hidden;
    // overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    // height: 100vh;
  }

  .offcanvas-content{
    @include transform(none);
  }
  .offcanvas-container{
    background-color: white;
  }
  .offcanvas-wrapper{
    @include make-md-column-push(3);
    @include make-lg-column-push(2);
  }
  .offcanvas-navbar{
    @include background-image($primary_bg_image);
    overflow: visible;
  }
  .offcanvas-sidebar-left{
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    // height: 100%;
  }
  .offcanvas-sidebar-left{
    position: absolute;
  }
  .dashboard .offcanvas-content{
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 54px;
    overflow: scroll;
  }
}


@media screen and (max-width: $screen-sm-max){
  .offcanvas-navbar.navbar .navbar-header{
    float: none;
  }
  .offcanvas-navbar.navbar > .container-fluid .navbar-brand{
    display: block;
    width: 77px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.offcanvas-sidebar {
  .navbar-form{
    margin:0; 
    @include box-shadow(none);
  }
}
