// Button Shape
@mixin btn(){
  text-rendering:optimizeLegibility;
  border: 0px;
  @extend %animate;
}
@mixin btn-rounded(){
  @include border-radius(100px);
}
// Button Colors
@mixin btn-transparent{
  color: transparentize($white,.3);
  @include box-shadow(inset 0 0 0 2px transparentize($white, .9));
  background-color: transparentize($white, .9);
  &:hover, &:focus{
    @include box-shadow(inset 0 0 0 2px transparentize($white, .5));
    background-color: transparentize($white, .7);
    color: $white;
  }
}

@mixin btn-invisible(){
  color: transparentize($white,.3);
  @include box-shadow(inset 0 0 0 2px transparentize($white, 1));
  background-color: transparent;
  opacity: .7;
  &:hover, &:focus{
    opacity: 1;
    color: $white;
    @include box-shadow(inset 0 0 0 2px transparentize($white, .9));
    background-color: transparentize($white, .95);;
  }
}

@mixin btn-color($bg-color:$primary_bg_color, $border-color: $primary_bg_color, $text-color:$primary_bg_text){
  color: $text-color;
  background-color: $bg-color;
  @include box-shadow(inset 0 0 0 2px $border-color);
  &:hover, &:active, &:focus, &.active{
    color: darken($text-color, 5%);
    @include box-shadow(inset 0 0 0 2px darken($border-color, 5%));
    background-color: darken($bg-color,5%);
  }
}


// Button Size
@mixin btn-rhythm($lines:2, $margin: 0, $font-size: $base-font-size, $hpadding: $padding-base-horizontal*3){

  $leading : $lines / 2;

  @include adjust-font-size-to($font-size, $leading);
  // @include adjust-leading-to($leading, $font-size);
  @include padding-leader( $leading/2 , $font-size);
  @include padding-trailer( $leading/2 , $font-size);
  @include leader( $margin / 2, $font-size);
  @include trailer( $margin / 2, $font-size);
  padding-left:  $hpadding;
  padding-right: $hpadding;
}


// Button Presets
.btn{
  @include btn();
  @include btn-rhythm();
}

.btn-secondary{
  @include btn-color($blue_gray_lighter, rgba(255,255,255,0), $blue_gray);
}
.btn-tertiary{
  @include btn-color($blue_gray_light, rgba(255,255,255,0), $inverted_text);
}
@mixin btn-pill(){
  @include btn-color(rgba(255,255,255,0),$blue_gray_light, $blue_gray);
}
.btn-pill{
  @include btn-pill;
}

.btn-primary, .btn-default, .btn-secondary{
  @include box-shadow(none);
}

.btn-gradient{
  @include background-image(linear-gradient(to right top, $primary_alt, $tertiary)); 
  @include box-shadow(none);
}

@mixin btn-white{
  @include btn-color($white, $white, $secondary);
}
.btn-white{
  @include btn-white;
}

.btn-transparent{
  @include btn-transparent;
}

.btn-invisible{
  @include btn-invisible();
}

.btn-rounded{
  @include btn-rounded();
}

// .btn-pill{
//   @include btn-rounded();
//   @include btn-transparent();
// }

@mixin btn-sm(){ @include adjust-leading-to(1); @include rhythm(0,0,0,0); }
@mixin btn-lg(){ @include btn-rhythm(2, 1); }
@mixin btn-xl(){ @include btn-rhythm(3, 0);  }

.btn-sm{@include btn-sm();   }
.btn-lg{@include btn-lg();   }
.btn-xl{@include btn-xl(); }

.btn-link, .btn-link:hover, .btn-link:active{
  text-decoration: none;
  background:transparent;
  border-color: transparent;
  color: $tertiary;
}
.btn-link:hover{
  color: darken($tertiary, 10%);
}

.btn-facebook{
  @include btn-color($facebook_color, $facebook_color, $primary_bg_text);
}
.btn-twitter{
  @include btn-color($twitter_color, $twitter_color, $primary_bg_text);
}
.btn-google{
  @include btn-color($google_color, $google_color, $primary_bg_text);
}
.btn-github{
  @include btn-color($github_color, $github_color, $primary_bg_text);
}

.input-group-btn .btn{
  font-size: $base-font-size - .3;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
  outline: none;
}


.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active{
  background-color: #ECEEF5;
  color: darken(#ECEEF5, 10%);
}
