@mixin btn-rounded(){
  @include border-radius(100px);
}

@mixin btn-rhythm(
  $lines:2,
  $border:0,
  $font-size: $base-font-size,
  $hpadding: $padding-base-horizontal*3
){
  $leading : $lines / 4;
  @include adjust-font-size-to($font-size);
  @include adjust-leading-to($leading * 2, $font-size);
  @if $border > 0 {
    @include rhythm-borders($border, $leading / 2 , $font-size);
  } @else {
    @include padding-leader( $leading , $font-size);
    @include padding-trailer( $leading , $font-size);
  }
  @include leader( $leading / 2, $font-size);
  @include trailer( $leading / 2, $font-size);
  padding-left:  $hpadding;
  padding-right: $hpadding;
}

@mixin btn(
  $lines:2,
  $font-size: $base-font-size,
  $border: 1px,
  $hpadding:$padding-base-horizontal*3
){
  text-rendering:optimizeLegibility;
  letter-spacing: 0.01em;
  @extend %animate;
  @include btn-rhythm($lines,$border,$font-size, $hpadding);
}


@mixin btn-transparent($font-size:$base-font-size){
  color: transparentize($white,.3);
  border-color: transparentize($white, .9);
  background-color: transparentize($white, .9);
  &:hover, &:focus{
    border-color: transparentize($white, .5);
    background-color: transparentize($white, .7);
    color: $white;
  }
}

@mixin btn-invisible($font-size:$base-font-size){
  color: transparentize($white,.3);
  border-color: transparentize($white, 1);
  background-color: transparent;
  opacity: .7;

  &:hover, &:focus{
    opacity: 1;
    border-color: transparentize($white, .9);
    background-color: transparentize($white, .95);;
    color: $white;
  }
}

@mixin btn-color($color:$primary_bg_color, $text-color:$primary_bg_text){
  color: $text-color;
  background-color: $color;
  border-color: $color;
  &:hover, &:active, &:focus{
    color: darken($text-color, 5%);
    border-color: darken($color, 5%);
    background-color: darken($color,5%);
  }
  
}

.btn{
  @include btn(2, $base-font-size, 1px);
  border-color: transparentize($secondary_bg_color, .5);
  &.btn-large{
    @include btn(2.5, $base-font-size, 1px);
  }
  &.btn-xlarge{
    @include btn(3, $base-font-size, 1px);
  }
  &.btn-small{
    @include btn(1.5, $base-font-size, 1px);
  }
}

.btn-primary{
  @include btn-color($primary_bg_color, $primary_bg_text);
}
.btn-secondary{
  @include btn-color($secondary_bg_color, $secondary_bg_text);
}
.btn-inverted{
  @include btn-color($white, $secondary);
}
.btn-transparent{
  @include btn-transparent();
}
.btn-invisible{
  @include btn-invisible();
}

.btn-rounded{
  @include btn-rounded();
}

.btn-pill{
  @include btn-transparent();
  @include btn-rounded();
  @include btn(2, $base-font-size, 2px);
  &.btn-xlarge{
    @include btn(3, $base-font-size, 2px);
  }
  &.btn-large{
    @include btn(2.5, $base-font-size, 2px);
  }
  &.btn-small{
    @include btn(1.5, $base-font-size, 2px);
  }
}
