%form-light{
  input[type='search'],
  input[type='url'],
  input[type='uri'],
  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='password'],
  textarea{
    &.form-control{
      background-color: none;
      // background-color: rgba(255,255,255,.3);
      border-radius: 0;
      box-shadow: inset 0 -1px 0px 0 rgba(0, 0, 0, 0.12);
      &.last{
        box-shadow: none;
        // box-shadow: inset 0 -1px 0 0px $gray-lightest, inset 0 1px 0 0px $gray-lightest;
      }
      &:focus{
        box-shadow: inset 0 -2px 0px 0 $primary-color;
        // box-shadow: inset 0 -2px 0 0 $primary, 0 0 2px transparentize($gray_lightest, .2);
      }
    }
  }
}


.form-light{
  @extend %form-light;
}
