.form-group{
  @include rhythm(0,0,0,1);
}

input[type='search'],
input[type='url'],
input[type='uri'],
input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select{
  &:-webkit-input-placeholder{
    @include font-weight-light;
    opacity: .7;
  }
  &:-moz-placeholder{
    @include font-weight-light;
    opacity: .7;
  }
  &:-ms-input-placeholder{
    @include font-weight-light;
    opacity: .7;
  }
  &.form-control{
    @extend %form-control;
  }
}

input[type='color'].form-control{
  width: 50px;
}

.rw-datetimepicker,
.rw-combobox{
  input.rw-input{
    @extend %form-control;
  }
}

.input-group-addon{
  background-color: $light-filet;
  &:last-child{
    border-top-right-radius:3px; 
    border-bottom-right-radius:3px; 
  }
}

.input-group-addon-invisible{
  font-size: inherit;
  padding: 0 5px;
}

%form-control{
  @include transition(all .2s ease-out);
  padding-left:$padding-base-horizontal;
  padding-right:$padding-base-horizontal;
  @include rhythm(0,.5,.5,0);
  height: auto;
  background-color: white;
  color: $blue_gray_dark;
  border:none;

  @include border-radius(3px);
  @include box-shadow(inset 0 0px 0 1px $light-filet);
  &:focus{
    @include box-shadow(inset 0 0 0 2px #0093e6, 0 0 2px rgba(0, 147, 230, 0.2));
  }

  &.form-control-lg{
    @include rhythm(0,1,1,0);
    padding-left:$padding-base-horizontal*2;
    padding-right:$padding-base-horizontal*2;
  }
  &.form-control-sm{
    @include rhythm(0,.25,.25,0);
    padding-left:$padding-base-horizontal;
    padding-right:$padding-base-horizontal;
  }
  &.form-control-invisible{
    @include rhythm(0,0,0,0);
    padding-left:0;
    padding-right:0;
  }
}

label{
  color: $light-text;
  @include font-weight-normal();
  @include rhythm(0,0,0,0);
}

select.form-control{
  height: $base-line-height*2;
  &.form-control-sm{
    height: $base-line-height*1.5;
  }
}

input[type='search'].form-control{
  // @include box-shadow(inset 0 0 0 2px #C5C7CE);
  @include border-radius(100px);
  font-weight: normal;
  padding-left:$grid-gutter-width;
  padding-right:$grid-gutter-width;
}

.help-block{
  @include rhythm(0,.25,.75,1);
  .pane-content &{
    @include adjust-font-size-to($h6_font_size,$h6_line_height);
    @include rhythm(0,.25,.75,0, $h6_font_size)
  }
}


.checkbox{
  @include rhythm(1,0,0,1);
  .form-inline &{
    @include rhythm(0,0,0,0);
    input[type='checkbox']{
      height: auto;
    }
  }
}
.radio, .checkbox{
  min-height: $base-line-height;
  @include rhythm(1,0,0,1)
}
.radio + .radio, .checkbox + .checkbox{
  @include leader(-1);
}
.radio-inline, .checkbox-inline{
  min-height: $base-line-height;
}
input[type=radio], input[type=checkbox]{
  @include rhythm(0.1,0,0,0);
  margin-right: $padding-base-horizontal/2;
}

.control-label, .control-label > label{
  // text-transform: uppercase;
  // letter-spacing: 0.1em;
  // @include font-weight-bold;
  @extend .text-muted;
  // @include adjust-font-size-to($h7_font_size, $h7_line_height);
  // @include trailer(0);
}

.form-horizontal {
  .radio, .checkbox{
    min-height: $base-line-height;
  }
  .field-label, .field-text{
    @include adjust-font-size-to(11px, 2);
  }
  .field-label{
    // @include adjust-leading-to(2,10px);
    letter-spacing: 2px;
    text-transform: uppercase;
    color:$light-text;
    // @include rhythm(0,.5,.5,0);
  }
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  .form-control-static{
    @include rhythm(.5,0,0,.5);
  }
}

.has-feedback .form-control-feedback{
  top: $base-line-height*1.25;
}

.form-horizontal .has-feedback .form-control-feedback{
  top:$base-line-height/4;
}

@media (min-width: 768px){
  .form-inline .has-feedback .form-control-feedback,
  .navbar-form .has-feedback .form-control-feedback {
    top: $base-line-height/4;
  }
}

.input-group-addon{
  background-color: transparent;
}
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn{
  @include padding-leader(1);
  @include padding-trailer(1);
  @include adjust-font-size-to($font-size-large);
}

.input-group-btn:last-child > .btn,
.nav-pills > li.input-group-btn:last-child > a,
.nav-tabs > li.input-group-btn:last-child > a,
.input-group-btn:last-child > .btn-group{
  margin-left: 0;
}

.input-group-btn {
  font-size: inherit;
  .btn{
    height: $base-line-height*2;
  }
}
.input-block-level{
  @extend .form-control;
}

.form-light{
  .form-group{
    @include leader(0);
  }
  input[type='search'],
  input[type='url'],
  input[type='uri'],
  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='password'],
  textarea{
    &.form-control{
      padding-left: 0;
      padding-right: 0;
      @include border-radius(0);
      background-color: rgba(255,255,255,.3);
      @include box-shadow(inset 0 -1px 0 0 $light-filet);
      &.last{
        @include box-shadow(inset 0 -1px 0 0px $light-filet, inset 0 1px 0 0px $light-filet);
      }
      &:focus{
        @include box-shadow(inset 0 -2px 0 0 $primary, 0 0 2px transparentize($gray_lightest, .2));
      }
    }
  }
}

.form-invisible{
  .form-group{
    @include trailer(0);
    @include leader(0);
  }
  .control-label{
    padding-top: 0;
  }
  input[type='search'],
  input[type='url'],
  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='password']{
    &.form-control, &.form-control:focus{
      @include border-radius(0);
      @include box-shadow(none);
      background-color: transparent;
    }
  }
}

.form-fullbleed{
  input[type='email'],
  input[type='text'],
  input[type='number'],
  input[type='password']{
    &:-webkit-input-placeholder{
      text-transform: uppercase;
    }
    &:-moz-placeholder{
      text-transform: uppercase;
    }
    &:-ms-input-placeholder{
      text-transform: uppercase;
    }
  }
  .form-control{
    @include rhythm(0,1,1,0);
  }
}

.control {
  border-bottom: 1px solid #F8F9FB;

  &:last-child {
    border: 0;
  }

  .control-label {
    margin-bottom: 0;
  }

  .form-control {
    border: 0;
    padding: 0;
    box-shadow: none;
  }
}

.control-inline {
  display: table;
  padding: 0;
  width: 100%;

  .control-label-container,
  .control-input-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }

  .control-input-container {
    padding-right: 10px;
    width: 1px;

    select {
      width: 100px;
    }
  }
}

.color-swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}

.overlay-container {
  display: none;
  position: absolute;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 290px;
  z-index: 500;
}

.overlay {
  position: relative;
  background: #fff;
  width: 250px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0,0,0,.02);
  border-radius: 5px;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 38px;
    right: 100%;
    margin: -6px 0 0 0;
    width: 1px;
    height: 1px;
    border: 6px solid rgba(0, 0, 0, 0);
  }

  &:before {
    border-right-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

  &:after {
    border-right-color: #FFF;
    z-index: 2000;
  }
}

.overlay-content {
  padding: 10px;
}

.pane-content{
  .control-image{
    @extend .mb-1;
    @extend .mt-1;
  }
}
