.form-group{
  @include rhythm(0,0,0,1);
}

%form-control{
  @include transition(all .2s ease-out);
  padding-left:$padding-base-horizontal;
  padding-right:$padding-base-horizontal;
  @include rhythm(0,.5,.5,0);
  height: auto;
  color: $blue_gray_dark;
  border:none;

  background-color: white;
  @include border-radius(5px);
  @include box-shadow(inset 0 0px 0 1px $light-filet);

  &:focus{
    @include box-shadow(inset 0 0 0 2px #0093e6, 0 0 2px rgba(0, 147, 230, 0.2));
  }

  &.form-control-lg{
    @include rhythm(0,1,1,0);
    padding-left:$padding-base-horizontal*2;
    padding-right:$padding-base-horizontal*2;
  }
  &.form-control-sm{
    @include rhythm(0,.25,.25,0);
    padding-left:$padding-base-horizontal;
    padding-right:$padding-base-horizontal;
  }
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
 line-height: inherit
 }

input[type='search'],
input[type='url'],
input[type='number'],
input[type='uri'],
input[type='text'],
input[type='time'],
input[type='email'],
input[type='password'],
textarea,
select{
  &:-webkit-input-placeholder{
    @include font-weight-light;
    opacity: .7;
  }
  &:-moz-placeholder{
    @include font-weight-light;
    opacity: .7;
  }
  &:-ms-input-placeholder{
    @include font-weight-light;
    opacity: .7;
  }
  &.form-control{
    @extend %form-control;
  }
}

input[type=range].form-control{
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0;
  @include box-shadow(none);
  padding: 0;
  border-radius: 100px;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-radius: 6px;
  }
  &::-webkit-slider-thumb {
    @include transition(all .2s ease-out);
    -webkit-appearance: none;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background: $blue_gray_light;
    cursor: pointer;
    margin-top: -12px;
  }
  &:focus::-webkit-slider-thumb {
    background: $red;
  }
  &::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
  }
  &::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: $red;
    cursor: pointer;
  }
  &::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: transparent;
  }
  &::-ms-fill-upper {
    background: transparent;
  }
  &::-ms-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: $red;
    cursor: pointer;
    height: 4px;
  }
  &:before{
    content: attr(min);
    display: block;
    position: relative;
    width: 21px;
    margin-right: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    opacity: .3;
    pointer-events: none;
  }
  &:after{
    content: attr(max);
    display: block;
    position: relative;
    width: 21px;
    margin-right: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    pointer-events: none;
    opacity: .3;
  }
}
input[type='color'].form-control{
  width: 50px;
}
input[type='search'].form-control{
  // @include box-shadow(inset 0 0 0 2px #C5C7CE);
  @include border-radius(100px);
  font-weight: normal;
  padding-left:$grid-gutter-width;
  padding-right:$grid-gutter-width;
}
select.form-control{
  height: $base-line-height*2;
  &.form-control-sm{
    height: $base-line-height*1.5;
  }
}

.control-label, .control-label > label{
  color: #646873;
  text-transform: uppercase;
  letter-spacing: .05em;
  @include adjust-font-size-to(10px, .5);
  @include font-weight-semibold();
  @include rhythm(0,0,0,0);
}



// Help Blocks
.help-block{
  @include rhythm(0,.25,.75,1);
  // .pane-content &{
  //   @include adjust-font-size-to($h6_font_size,$h6_line_height);
  //   @include rhythm(0,.25,0,0, $h6_font_size)
  // }
}


// Radio + Checkbox
.checkbox{
  @include rhythm(1,0,0,1);
  .form-inline &{
    @include rhythm(0,0,0,0);
    input[type='checkbox']{
      height: auto;
    }
  }
}
.radio, .checkbox{
  min-height: $base-line-height;
  @include rhythm(1,0,0,1)
}
.radio + .radio, .checkbox + .checkbox{
  @include leader(-1);
}
.radio-inline, .checkbox-inline{
  min-height: $base-line-height;
}
input[type=radio], input[type=checkbox]{
  @include rhythm(0.1,0,0,0);
  margin-right: $padding-base-horizontal/2;
}



.has-feedback .form-control-feedback{
  top: $base-line-height*1.25;
}

@media (min-width: 768px){
  .form-inline .has-feedback .form-control-feedback,
  .navbar-form .has-feedback .form-control-feedback {
    top: $base-line-height/4;
  }
}


// Addons
.input-group-addon{
  background-color: $light-filet;
  &:last-child{
    border-top-right-radius:3px; 
    border-bottom-right-radius:3px; 
  }
}

.input-group-addon-invisible{
  background-color: transparent;
  font-size: inherit;
  padding: 0 5px;
}

.input-group-btn {
  font-size: inherit;
  .btn{
    height: $base-line-height*2;
  }
  .btn-sm{
    height: $base-line-height*1.5;
  }
}

.input-group-btn:last-child > .btn,
.nav-pills > li.input-group-btn:last-child > a,
.nav-tabs > li.input-group-btn:last-child > a,
.input-group-btn:last-child > .btn-group{
  margin-left: 0;
}

.input-block-level{
  @extend .form-control;
}



.control {
  border-bottom: 1px solid #F8F9FB;

  &:last-child {
    border: 0;
  }

  .control-label {
    margin-bottom: 0;
  }

  .form-control {
    border: 0;
    padding: 0;
    box-shadow: none;
  }
}

.control-inline {
  display: table;
  padding: 0;
  width: 100%;

  .control-label-container,
  .control-input-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }

  .control-input-container {
    padding-right: 10px;
    width: 1px;

    select {
      width: 100px;
    }
  }
}

.color-swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}




// .overlay-container {
//   display: none;
//   position: absolute;
//   top: 120px;
//   right: 0;
//   bottom: 0;
//   left: 290px;
//   z-index: 500;
// }

// .overlay {
//   position: relative;
//   background: #fff;
//   width: 250px;
//   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0,0,0,.02);
//   border-radius: 5px;

//   &:before,
//   &:after {
//     content: '';
//     display: block;
//     position: absolute;
//     top: 38px;
//     right: 100%;
//     margin: -6px 0 0 0;
//     width: 1px;
//     height: 1px;
//     border: 6px solid rgba(0, 0, 0, 0);
//   }

//   &:before {
//     border-right-color: rgba(0, 0, 0, 0.3);
//     z-index: 1000;
//   }

//   &:after {
//     border-right-color: #FFF;
//     z-index: 2000;
//   }
// }

// .overlay-content {
//   padding: 10px;
// }

.pane-content{
  .control-image{
    @extend .mb-1;
    // @extend .mt-1;
  }
}

.cke_dialog_contents .select2-container{
  position:  relative;
  width: 100%;
}
