%form-invisible{
  .form-group{
    @include trailer(0);
    @include leader(0);
  }
  .control-label{
    padding-top: 0;
  }
  input[type='search'],
  input[type='url'],
  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='password']{
    &.form-control, &.form-control:focus{
      border-radius: 0;
      box-shadow: none;
      background-color: transparent;
    }
  }
}

.form-invisible{
  @extend %form-invisible;
}
