h1{ @include adjust-heading($h1_font_size, $h1_line_height); }
h2{ @include adjust-heading($h2_font_size, $h2_line_height, .5); }
h3{ @include adjust-heading($h3_font_size, $h3_line_height, .5); }
h4{ @include adjust-heading($h4_font_size, $h4_line_height); }
h5{ @include adjust-heading($h5_font_size, $h5_line_height); }
h6{ @include adjust-heading($h6_font_size, $h6_line_height); }

h1.condensed{ @include adjust-heading($h1_font_size); }
h2.condensed{ @include adjust-heading($h2_font_size); }
h3.condensed{ @include adjust-heading($h3_font_size); }
h4.condensed{ @include adjust-heading($h4_font_size); }
h5.condensed{ @include adjust-heading($h5_font_size); }
h6.condensed{ @include adjust-heading($h6_font_size); }

/*
******************
** Title Styles
******************
*/

@for $i from 1 through 6 {
  h#{$i} {
    color: $black_2;
    &.underlined{
      @include background-image(linear-gradient(to right, $white 25%, #e8e8e8 25.1%, #e8e8e8 75%, $white 75.1%));
      background-repeat: no-repeat;
      display: inline-block;
    }
    &.small-title{
      text-transform: uppercase;

    }
    &.text-accented{
      color: $accent_text_header;
      small{
        color: lighten($accent_text_header, 10%);
      }
    }
    
  }
}
// h1, h2, h3, h4, h5, h6{
// }

h1.underlined{
  @include padding-trailer(.5, $h1_font_size);
  @include trailer(.5, $h1_font_size);
  background-position:  left ($base-line-height*2 - 2px);
}
h2.underlined{
  @include padding-trailer(.5, $h2_font_size);
  @include trailer(.5, $h2_font_size);
  background-position:  left ($base-line-height*2 - 2px);
}
h3.underlined{
  @include padding-trailer(.5, $h3_font_size);
  @include trailer(.5, $h3_font_size);
  background-position:  left ($base-line-height*1.5 - 2px);
}
h4.underlined{
  @include padding-trailer(.5, $h4_font_size);
  @include trailer(.5, $h4_font_size);
  background-position:  left ($base-line-height*1.5 - 2px);
}
h5.underlined{
  @include padding-trailer(.5, $h5_font_size);
  @include trailer(.5, $h5_font_size);
  background-position:  left ($base-line-height*1.5 - 2px);
}


[data-editor] h3{
  font-weight:normal;
  color:#798291;
  text-transform: uppercase;
  font-size:10px;
  letter-spacing:2px
}


h1.page-header{
  @include adjust-leading-to(3, $h1_font_size);
  @include rhythm(1,0,0,1, $h1_font_size);
  @include trailing-border(1px, 1, $h1_font_size);
  // border-bottom-width: 1px;
}

.lead{
  @include adjust-font-size-to(24px);
  @include rhythm(1,0,0,1);
}
