.label{
  @include rhythm(0,.25,.25,0);
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;
  @include border-radius(100px);
  @include box-shadow(inset 0 -2px 0 rgba(0, 0, 0, 0.2));
}

.label-group{
  .label{
    display: inline-block;
  }
}
