.list-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  > li {
    display: table-cell;
    table-layout: fixed;
    vertical-align: middle;
    width: auto;
    padding: 0 5px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}



