
.dashboard-modal{
  left: auto;
  right: 0;
  top:0;
  overflow: hidden;
  height: 100%;
  .panel-minimal .panel-heading{
    @include box-shadow(inset 0 -1px 0px 0px rgba(215, 222, 231, 0.2));
    background-color: transparent;
    padding-left:0;
    padding-right:0;
  }
  .modal-body{
    margin:0;
    padding: 0;
    height: 100vh;
  }

  .modal-footer, .modal-header{
    border:none; 
  }

  .modal-footer{
    padding:0; 
    margin:0;
    .btn-close{
      position: fixed;
      bottom: 10px;
      right: 10px;
      z-index: 100;
    }
  }
  .modal-header{
    background-color: $light_filet;
  }


  .modal-dialog{
    @extend %animate;
    // width: 100%;
    // height: 100%;
    // margin:0; 
  }

  .modal-content{
    border:0;
    @include border-radius(0);
    @include box-shadow(none); 
    @media (min-width: $screen-md-min){
      @include box-shadow(none); 
    }
  }
  &.fade{
    .modal-dialog{
      @include scale(2);
      opacity: 0;
    }
    &.in{
      .modal-dialog{
        @include scale(1);
        opacity: 1;
      }
    }
  }
}
