body.modal-open{
  .offcanvas-container{
    -webkit-filter: blur(5px);
    @include translate3d(0,0,-100px);
  }
}

.modal-backdrop{
  // background-color: #383e4b;
  // @include background-image(radial-gradient(1500px 1000px at top, rgba(107, 126, 163, 1) 0%, rgba(6, 9, 17, 0.82) 100%));
  // background-color: transparent;
  // @include background-image(radial-gradient(1500px 500px at top, #FFF, rgba(255, 255, 255, 0.82)));
}

.modal-content{
  @include border-radius(5px);
  border:0;
  overflow: hidden; 
  @include box-shadow(0 10px 40px rgba(0, 0, 0, 0.3));
}

.modal-body{
  @include rhythm(0,.5,.5,0);
}

.modal-header, .modal-footer{
  border:0;
  @include rhythm(0,1,1,0);
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;
  h4{
    margin: 0; 
  }
}
.modal-footer{
  .btn{
    @extend .btn-rounded;
  }
}

.modal-header{
  @include box-shadow(inset 0 -1px 0 rgba(0,0,0,.1));
}

.bootbox, .borderless-modal{
  @extend .form-fullbleed;
  .modal-header{
    @include box-shadow(none)
  }
  .modal-body{
    padding: 0;
  }
}

.bootbox{
  .modal-content{
    background-color: $off_white;
  }
}

.modal{
  &.full-modal, &.side-modal{
    @include transition(all .3s ceaser($easeOutQuint));
    top:0;
    bottom: 0;
    height: 100%;
    right: 0;
    // overflow-x:visible;
    // overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    .modal-body{
      padding: 0;
    }
    &.fade{
      top:0;
      opacity: 0;
      bottom: 0;
    }
    &.fade.in{
      top:0;
      opacity: 1;
      @include transform(none);
    }
    .modal-content{
      @include border-radius(0);
      min-height: 100%;
    }
  }
  &.full-modal{
    left: 0;
    margin:0 auto;
    &.fade{
      @include transform(scale(.5));
    }
  }

  &.side-modal{
    left: auto;
    @media (max-width: $screen-sm-max){
      width: 100%;
    }
    &.fade{
      @include transform(translate3d(100%,0,0));
    }
  }
}




//   .modal-body{
//     margin:0;
//     padding: 0;
//     height: 100vh;
//   }

//   .modal-footer,
//   .modal-header{
//     border:none; 
//   }

//   .modal-header{
//     background-color: $light_filet;
//   }

//   .modal-footer{
//     padding:0; 
//     margin:0;
//     .btn-close{
//       position: fixed;
//       bottom: 10px;
//       right: 10px;
//       z-index: 100;
//     }
//   }

//   .modal-content{
//     border:0;
//     @include border-radius(0);
//     @include box-shadow(none); 
//     @media (min-width: $screen-md-min){
//       @include box-shadow(none); 
//     }
//   }

//   &.fade{
//     @include transition(all 0.2s ease-out);
//     @include box-shadow(0 0 70px rgba(0, 0, 0, 0.4));
//     top:0;
//     opacity: 1;
//     @include transform(translate3d(100%,0,0));
//     &.in{
//       @include transform(translate3d(0,0,0));
//       .modal-dialog{
//         @include scale(1);
//         opacity: 1;
//       }
//     }
//   }




// .bootbox{
//   &.fade{
//     .modal-dialog{
//       @include transform(scale(1.2));
//       opacity: 0;
//     }
//   }
//   &.in {
//     .modal-dialog{
//       @include transform(scale(1));
//       opacity: 1;
//     }
//   }
//   .modal-content{
//     border:0;
//     @include border-radius(0);
//     @include box-shadow(0 0px 35px rgba(0, 0, 0, 0.2));
//   }
//   .modal-footer{
//     @include rhythm(0,1,1,0);
//     border:none;
//   }
//   .modal-header{
//     background-color: $off_white;
//     @include rhythm(0,1,1,0);
//     border:none;
//   }
//   .modal-body{
//     @include rhythm(0,1,1,0);
//   }
// }
