.bootbox{
  &.fade{
    .modal-dialog{
      @include transform(scale(1.2));
      opacity: 0;
    }
  }
  &.in {
    .modal-dialog{
      @include transform(scale(1));
      opacity: 1;
    }
  }
  .modal-content{
    border:0;
    @include border-radius(0);
    @include box-shadow(0 0px 35px rgba(0, 0, 0, 0.2));
  }
  .modal-footer{
    @include rhythm(0,1,1,0);
    border:none;
  }
  .modal-header{
    background-color: $off_white;
    @include rhythm(0,1,1,0);
    border:none;
  }
  .modal-body{
    @include rhythm(0,1,1,0);
  }
}

.side-modal{
  background-color: white;
  left: auto;
  right: 0;
  top:0;
  bottom: 0;
  overflow: hidden;
  height: 100%;
  position: fixed;

  .modal-body{
    margin:0;
    padding: 0;
    height: 100vh;
  }

  .modal-footer,
  .modal-header{
    border:none; 
  }

  .modal-header{
    background-color: $light_filet;
  }
  .modal-footer{
    padding:0; 
    margin:0;
    .btn-close{
      position: fixed;
      bottom: 10px;
      right: 10px;
      z-index: 100;
    }
  }

  .modal-content{
    border:0;
    @include border-radius(0);
    @include box-shadow(none); 
    @media (min-width: $screen-md-min){
      @include box-shadow(none); 
    }
  }
  &.fade{
    @include transition(all 0.2s ease-out);
    @include box-shadow(0 0 70px rgba(0, 0, 0, 0.4));
    top:0;
    opacity: 1;
    @include transform(translate3d(100%,0,0));
    &.in{
      @include transform(translate3d(0,0,0));
      .modal-dialog{
        @include scale(1);
        opacity: 1;
      }
    }
  }
}
