// .nav > li > a{
//   @include rhythm(0,0,0,0);
// }

%nav{
  > li{
    > a{
      @include rhythm(0,.5,.5,0);
    }

    &.active{
      > a, >a:hover, >a.active{
        @extend .btn-primary; 
      }
    }
  }
}

.nav{
  > li{
    .navbar-branded &{
      @media (max-width: $screen-md-max){
        padding-right: $padding-base-horizontal;
        padding-left: $padding-base-horizontal;
      }
    }
  }
  > li > a, .open > a{
    // &:hover,&:focus{
    //   background-color: transparent;
    // }
  }

  .offcanvas-sidebar-left &{
    margin:0; 
    > .nav > li > a{
      &:hover, &:active, &.active, .open & {
          background-color: transparent;
      }
    }
    .active > a, a.active{
        border-left-color: $primary;
        color: $primary;
    }
    @media (max-width: $screen-xs-max){
      > .nav > li > a{
        background-color: rgba(255,255,255,.15)
      }
    }
  }

  .avatar{
    img{
      position: relative;
      top:-1px;
      height: $base-line-height*1.5;
      @include border-radius(100px);
    }
  }
}

.nav-pills{
  @extend %nav;
  > li > a{
    @include border-radius(100px);
  }
}

.nav-tabs{
  @extend %nav;
  &.nav-justified{
    > a{
      @include rhythm(0,1,1,0);
      border: none !important;
    }
    > .active{
      > a, >a:hover, >a:focus{
        border: none !important;
      }
    }
  }
}

.nav-rounded{
  @extend %nav;
  > li {
    // display: inline;
    > a {
      @extend .btn-pill;
      @extend .btn-rounded;
      @extend .btn;
      // display: inline-block;
    }
    &:first-child{
      > a{
        @include border-radius(100px 0 0 100px);
      }
    }
    + li > a{
      @include border-radius(0 0 0 0);
    }
    &:last-child{
      > a{
        @include border-radius(0 100px 100px 0);
      }
    }
  }
}
