.panel{
  @include box-shadow(none);
  @include rhythm(0,0,0,.5);
  border:0;
  padding: 0; 
}
.panel-body, .panel-default{
  background:transparent; 
}

.panel-default > .panel-heading{
  background: $white; 
  @include box-shadow(inset 0 -1px 0 $blue_gray_lightest);
}
.panel-heading, .panel-body{
  border:0;
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;
  @include rhythm(0,.5,.5,0);
}
