// // This is just to center the spinner
// $offset: 187;
// $duration: 1.4s;

// @include keyframes(rotator) {
//   0% { transform: rotate(0deg); }
//   100% { transform: rotate(270deg); }
// }

// @include keyframes(colors) {
//   0% { stroke: #4285F4; }
//   25% { stroke: #DE3E35; }
//   50% { stroke: #F7C223; }
//   75% { stroke: #1B9A59; }
//   100% { stroke: #4285F4; }
// }

// @include keyframes(dash) {
//  0% { stroke-dashoffset: $offset; }
//  50% {
//    stroke-dashoffset: $offset/4;
//    transform:rotate(135deg);
//  }
//  100% {
//    stroke-dashoffset: $offset;
//    transform:rotate(450deg);
//  }
// }

// .spinner {
//   margin: 0 $padding-base-horizontal; 
//   @include animation(rotator $duration linear infinite);
// }

// .spinner-path {
//   stroke-dasharray: $offset;
//   stroke-dashoffset: 0;
//   transform-origin: center;
//   -webkit-animation : colors ($duration*4) ease-in-out infinite, dash $duration ease-in-out infinite;
//   -moz-animation : colors ($duration*4) ease-in-out infinite, dash $duration ease-in-out infinite;
//   -o-animation : colors ($duration*4) ease-in-out infinite, dash $duration ease-in-out infinite;
//   animation : colors ($duration*4) ease-in-out infinite, dash $duration ease-in-out infinite;
// }

$spinner-size: 72px;
$spinner-border-width: 3px;
$spinner-track-color: transparentize(#8996B5, 0.8);
$spinner-track-piece-color: transparentize(#8996B5, 0.2);
$spinner-speed: 0.8s;


@include keyframes(rotation) {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}

.spinner {
  position: relative;
  height: $spinner-size;
  width: $spinner-size;
  margin: 0 auto;
  border: $spinner-border-width solid $spinner-track-color;
  border-top: $spinner-border-width solid $spinner-track-piece-color;
  border-radius: 100%;
  @include animation(rotation $spinner-speed infinite linear);
}
