// table,
// th, tr, td{
//   border:none !important;
// }

.table > thead > tr > th{
  @include trailing-border(2px, 1);
}


.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td{
  @include rhythm(0,.5,.5,0);
  border:0;
  > p{
    @include rhythm(0,0,0,.5);
  }
  // @include box-shadow(0 -1px 0 0 $light-filet);
  // @include leading-border(1px, .5);
}

.table{
  > thead, > tbody{
    > tr {
      > th, > td {
        @include box-shadow(inset 0px -1px 0 0 rgba(255, 255, 255, 0.2));
        > p{
          @include rhythm(0,0,0,0);
          // @include rhythm(.25,0,0,.25);
        }
      }
    }
  }
}

.table-bordered{
  @include box-shadow(inset 0px -1px 0 0 rgba(255, 255, 255, 0.2));
  border:0; 
  > thead, > tbody{
    > tr {
      > th, > td {
        @include box-shadow(inset -1px -1px 0 0 rgba(233, 233, 233, 1));
        padding: $base-line-height/2;
      }
    }
  }
}

.table-condensed{
  > thead, > tbody{
    > tr {
      > th, > td {
        padding: $base-line-height/4 $padding-base-horizontal;
        > p{
          @include rhythm(0,0,0,0);
        }
      }
    }
  }
}

.table-json{
  .navigation span, span.object, span.array{
    @extend .text-info;
    @include font-weight-bold;
    text-decoration: underline;
    cursor: pointer;
  }
}

