<% types = %w{ round square } %>
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-6">
      <%= partial 'add_image' %>
    </div>
  </div>


  <div class="row mt-1">
    <div class="col-sm-2">
      <%= partial 'add_image' %>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-sm-2">
      <%= partial 'add_image_circle' %>
    </div>
  </div>
</div>



