.page {
  // padding: $topbar-height 0 0 $sidebar-width;
  padding: $topbar-height 0 0 0;
  background-color: $off-white;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

// .page-content {
//   padding: $space-large;
// }

