.sidebar{
  bottom: 0;
  top: 50px;
  width: $sidebar_width;
  position: absolute;
  overflow: scroll;
  left: 0;
  .sticky-sidebar &{
    top: 0;
    position: fixed;
  }
  .section-btn{
    position: relative;
    top: -32px;
  }
  .list-group-item{
    @extend .mb-2;
  }
}

.has-sidebar{
  margin-left: $sidebar_width;
}

// .sidebar {
//   display: block;
//   width: $sidebar_width;
//   margin: 0;
//   padding: 0;
//   border: none;
//   overflow: hidden;
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   z-index: 500;
//   color: rgba($sidebar-color, .8);
//   // TODO rename variable with a consistent style
//   @include background-image($primary_bg_image);

//   a {
//     color: rgba($sidebar-color, .8);
//   }
// }

.sidebar-header {
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.05);
}

.sidebar-dropdown {
  width: 100%;
  position: relative;

  .caret {
    position: absolute;
    top: 24px;
    right: $grid-gutter-width/2;
  }

  .btn {
    display: block;
    overflow: hidden;
    width: 100%;
    @include rhythm(0,.75,.75,0, $h4_font_size);
    @include adjust-font-size-to($h4_font_size, $h4_line_height);
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    background: none;
    color: $sidebar-color;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 190px;
    // -webkit-font-smoothing: antialiased;
    box-shadow: none;
  }
}

.sidebar-nav {
  @include padding-leader(1);
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;

  .nav-header {
    margin: 0 0 $grid-gutter-width/2 $grid-gutter-width/2;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $sidebar-color;
  }

  li a {
    margin-bottom: 1px;
    padding: 5px ($grid-gutter-width/2 - 1) 3px;
    border: 1px solid transparent;
    border-radius: $border-radius-large;
    transition: all .1s ease-in;

    &:hover,
    &:focus {
      background: rgba($sidebar-color, .1);
      border-color: rgba($sidebar-color, .2);
    }
  }

  li + .nav-header {
    margin-top: $grid-gutter-width/2;
  }

  li.active a {
    background: rgba($sidebar-color, .1);
    border-color: rgba($sidebar-color, .4);
    font-weight: bold;
  }
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  padding: $grid-gutter-width/2;
}

