.topbar-breadcrumb {
  padding: 0;
  margin: 0;
  background: none;
  @include adjust-font-size-to($h4_font_size, $h4_line_height);
  @include rhythm(0,.25,.25,0, $h4_font_size);
  font-weight: normal;
}
