.topbar {
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  @include box-shadow(inset 0 -1px 0 $light-filet);
  z-index: 400;
  .has-sidebar &, &.has-sidebar{
    left: $sidebar_width;
    .topbar-content{
      padding-left: $grid-gutter-width/2;
    }
  }
}

.topbar-breadcrumb {
  padding: 0;
  margin: 0;
  background: none;
  @include adjust-font-size-to($h4_font_size, $h4_line_height);
  @include rhythm(0,.25,.25,0, $h4_font_size);
  font-weight: normal;
}
