$user-overview-size: 24px;

.user-overview {
  img{
    width: $user-overview-size;
    height: $user-overview-size;
  }
}

.navbar .user-overview {
  padding-left: 17px;
  img {
    position: absolute;
    margin-left: -29px;
    margin-top: -2px;
  }
}
