$docs-font-size: 15px;
.docs-page{
  @include padding-leader(1);
  p, li{
    // -webkit-font-smoothing:subpixel-antialiased;
  }
}
.docs-header{
  border-color: $light-filet;
  @include trailer(1);
  @include trailing-border(1px, 2);
  h3{
    @include rhythm(0,0,0,0);
  }
  p{
    @include adjust-font-size-to($docs-font-size);    
    @include rhythm(0,0,0,0);
    color: $light_text;
  }
}
.docs-body{
  @include trailer(3);
  hr{
    margin:0;
    padding:0;
    border-color: $light-filet;
    height:auto;
    color: transparent;
    @include leading-border(1px, 1);
  }
  h1{
    @include adjust-font-size-to($h2_font_size);    
    @include adjust-leading-to(1,$h2_font_size);    
    @include rhythm(2,0,0,.5,$h2_font_size); 
    // @extend .accented;   
  }
  h2{
    @include adjust-font-size-to($h4_font_size);    
    @include adjust-leading-to(1,$h4_font_size);    
    @include rhythm(2,0,0,1,$h4_font_size);   
  }
  h3{
    @include adjust-font-size-to($h5_font_size);    
    @include adjust-leading-to(1,$h5_font_size);    
    @include rhythm(2,0,0,1,$h5_font_size);    
  }
  h4{
    @include adjust-font-size-to($h5_font_size);    
    @include adjust-leading-to(1,$h5_font_size);    
    @include rhythm(1,0,0,1,$h5_font_size);    
  }
  h5{
    @include adjust-font-size-to($h6_font_size);    
    @include adjust-leading-to(1,$h6_font_size);    
    @include rhythm(1,0,0,1,$h6_font_size);    
  }
  h6{
    @include adjust-font-size-to($h6_font_size);    
    @include adjust-leading-to(1,$h6_font_size);    
    @include rhythm(1,0,0,1,$h6_font_size);    
  }

  > h1{ @include font-weight-semibold; }
  > h2{ @include font-weight-normal; }
  > h4{ @include font-weight-thin; }

  h1, h2, h3, h4, h5, h6{
    .docs-anchor{
      margin-left: $padding-base-horizontal/2;
      @extend %animate;
      border:none;
      opacity: 0;
    }
    &:hover{
      .docs-anchor{
        opacity: 1;
      }
    }
    +p{
      @include leader(1, $docs-font-size);
    }
  }

  > ul > li{
    list-style-type: disc; 
  }
  blockquote{
    @include adjust-font-size-to($base-font-size, 1, $base-font-size);
  }

  p,li{
    @include adjust-font-size-to($docs-font-size);
    color: $light_text;
  }
  p{
    @include rhythm(0,0,0,1, $docs-font-size);
  }
  a:not(.btn){
    border-bottom: 1px solid transparentize($tertiary,.8);
    padding-bottom: 2px;
    &:hover{
      border-bottom-color: transparentize($tertiary,.5);
      text-decoration:none;
    }
  }
  > ul{
    @include rhythm(0,0,0,1);
    margin-left: 1em;
    padding-left: 0;
  }
  li > a{
    font-size: 1em;
  }
}
.docs-toc-section{
  h6{
    @include trailer(.25, $h6_font_size);
    @include font-weight-bold;
  }
  i.icon{
    @include adjust-font-size-to($h1_font_size,3);
    float: left;
    margin-right: $padding-base-horizontal;
  }
  .fl{
    float: left;
  }
}
.doc-link{
  @include adjust-font-size-to(13px, .75);
  a{
    color: $light_text;
  }
}

.api-sections{
  table code{
    white-space: normal;
  }
  table td>p{
    // @include adjust-font-size-to($dod);
  }
}
.api-route{
  .panel-heading{
    padding: 0;
    background-color: #ECF2FA;
    padding-right: $padding-base-horizontal; 
    h5{
      color: #566170;
      @include rhythm(0,1,1,0, $h5_font_size);
      @include font-weight-bold;
    }
    .code{
      @include font-weight-normal;
      font-family: $font-family-monospace;
    }
    .method{
      padding-left: $padding-base-horizontal*2; 
      padding-right: $padding-base-horizontal*2; 
      margin-right: $padding-base-horizontal; 
      &.GET {color: #4B74A3; background-color: #ccd6e2 }
      &.POST {color: #509A45; background-color: #cddfca }
      &.DELETE {color: #F20C00; background-color: #f5bcb9 }
      &.PUT {color: #F38630; background-color: #f6dac5 }
    }
    .method-container{
      background-color: $blue_gray_lightest;
    }
    code{
      color: $black_2;
      background-color: transparent;
    }


  }
}

.docs-article{
  @extend .docs-page;
  @include padding-leader(2);
}

.docs-sidebar{
  padding-left: 0;
}

.events-table{
  th{
    @include font-weight-bold;
  }
  td,th{
    color: $light_text;
    @include adjust-font-size-to(14px);
  }
}


.component-page{
  .panel-heading{
    @include rhythm(0,0,0,0);
    h1, h2, h3, h4, h5, h6{
      @include rhythm(0,0,0,0);
    }
  }
}
