/*
******************
** Homepage Specific
******************
*/

.homepage-header-content{
  @include padding-leader(3);
  @include padding-trailer(3);
  display: table-cell;
  vertical-align: middle;
}


.homepage-header{
  overflow: hidden;
  @extend .text-center;
  @extend %blue-background;
  height: 100vh;
  display: table;
  width: 100%;
  .navbar-branded{
    background: none;
    @include box-shadow(none);
  }
  .headline{
    @include font-weight-semibold;
  }
  .subtitle{
    @include font-weight-thin;
    opacity: .5;
  }
  .tagline{
    @include font-weight-thin;
  }

  .bgimage{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: .02;
    overflow: hidden;
    text-align: center;
    background-position: top center;
    background-size: 120% auto;
    background-attachment: fixed;
  }
  > .container{
    position: relative;
    z-index: 2;
  }
  .cta-btn{
    @include btn-lg;
    width: 100%;
  }
  .btn-signup{
    @include font-weight-bold;
  }
  .btn-discover{
    @include btn-transparent;
    color: $primary_bg_text;
  }

  @media (min-width: $screen-sm-min){
    text-align: left;
    .cta-btn{
      display: inline-block;
      width: auto;
    }
  }
}

.homepage-cta{
  .btn-signup{
    @include font-weight-bold;
    margin-right: $padding-base-horizontal*2;
  }
  .tagline{
    @include leader(0);
    @include trailer(1);
  }
}

.play-icon{
  @extend %animate;
  @extend .text-center;
  @include border-radius(200px);
  background-color: rgba(63,70,83,0.5);
  $circle_size: $base-line-height*4;
  width:  $circle_size;
  height: $circle_size;
  cursor: pointer;
  display: inline-block;
  @include leader(2);
  @include trailer(1);
  margin-left: auto;
  margin-right: auto;
  display: block;
  @media (min-width: $screen-sm-min){
    @include leader(4);
  }
  .icon-play{
    color: $primary_bg_text;
    $fsize:$base-font-size*2;
    @include adjust-font-size-to($fsize, 2);
    line-height: 2.9em;
    margin-left: 10px;
    display: inline-block;
    @include scale(.9);
  }
  @include scale(.9);
  &:hover{
    @include scale(1);
    background-color: rgba(63,70,83,0.8);
    .icon-play{
      @include scale(1.1);
    }
  }
}
