<div id="appModal" class="modal modal-small hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header text-center">
    <h4 id="myModalLabel">Create a new application</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="input01">Name</label>
          <div class="controls">
            <input type="text" class="input-large" id="input01">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input01">Description</label>
          <div class="controls">
            <textarea class="input-large"></textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input01">Domains</label>
          <div class="controls">
            <input type="text" class="input-large" id="input01">
            <p class="help-block">Enter the domains where you'll use your app. Example : "myapp.com awesome.me"</p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
