@-webkit-keyframes hull-fadescalein {
  0% {
    opacity: 0;
    -webkit-transform: scale(.8) rotateX(-40deg)
  }

  50% {
    opacity: 1
  }

  70% {
    -webkit-transform: scale(1.05) rotateX(0)
  }

  100% {
    -webkit-transform: scale(1) rotateX(0)
  }
}
@-moz-keyframes hull-fadescalein {
  0% {
    opacity: 0;
    -moz-transform: scale(.8) rotateX(-40deg)
  }

  50% {
    opacity: 1
  }

  70% {
    -moz-transform: scale(1.05) rotateX(0)
  }

  100% {
    -moz-transform: scale(1) rotateX(0)
  }
}
@-ms-keyframes hull-fadescalein {
  0% {
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-transform: scale(.8) rotateX(-40deg)
  }

  50% {
    filter: alpha(opacity=100);
    opacity: 1
  }

  70% {
    -ms-transform: scale(1.05) rotateX(0)
  }

  100% {
    -ms-transform: scale(1) rotateX(0)
  }
}
@-o-keyframes hull-fadescalein {
  0% {
    opacity: 0;
    -o-transform: scale(.8) rotateX(-40deg)
  }

  50% {
    opacity: 1
  }

  70% {
    -o-transform: scale(1.05) rotateX(0)
  }

  100% {
    -o-transform: scale(1) rotateX(0)
  }
}
@keyframes hull-fadescalein {
  0% {
    opacity: 0;
    transform: scale(.8) rotateX(-40deg)
  }

  50% {
    opacity: 1
  }

  70% {
    transform: scale(1.05) rotateX(0)
  }

  100% {
    transform: scale(1) rotateX(0)
  }
}


@keyframes hull-fadescaleout {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1
  }

  100% {
    transform: translateY(-10%) scale(.8);
    opacity: 0
  }
}
@-moz-keyframes hull-fadescaleout {
  0% {
    -moz-transform: translateY(0) scale(1);
    opacity: 1
  }

  100% {
    -moz-transform: translateY(-10%) scale(.8);
    opacity: 0
  }
}
@-o-keyframes hull-fadescaleout {
  0% {
    -o-transform: translateY(0) scale(1);
    opacity: 1
  }

  100% {
    -o-transform: translateY(-10%) scale(.8);
    opacity: 0
  }
}
@-webkit-keyframes hull-fadescaleout {
  0% {
    -webkit-transform: translateY(0) scale(1);
    opacity: 1
  }

  100% {
    -webkit-transform: translateY(-10%) scale(.8);
    opacity: 0
  }
}
@-ms-keyframes hull-fadescaleout {
  0% {
    -ms-transform: translateY(0) scale(1);
    filter: alpha(opacity=100);
    opacity: 1
  }

  100% {
    -ms-transform: translateY(-10%) scale(.8);
    filter: alpha(opacity=0);
    opacity: 0
  }
}
