@keyframes hull-fadescalein {
  0% {
    opacity: 0;
    transform: translateY(-50%) rotateZ(-4deg);
  }

  50% {
    opacity: 1
  }

  70% {
    transform: translateY(2%) rotateZ(0deg)
  }

  100% {
    transform: translateY(0) rotateZ(0)
  }
}
@keyframes hull-fadescaleout {
  0% {
    transform: translateY(0) scale(1) rotateZ(0);
    opacity: 1
  }

  100% {
    transform: translateY(20%) scale(1) rotateZ(-4deg);
    opacity: 0
  }
}
@keyframes hull-slideInUp {
  0% {
    transform: translate3d(-50%,100%,0);
  }
  100% {
    transform: translate3d(-50%,0,0);
  }
}
@keyframes hull-slideOutDown {
  0% {
    transform: translate3d(-50%,0,0);
  }

  100% {
    transform: translate3d(-50%,100%,0);
    visibility: hidden;
  }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes fadeOutAndHide {
  0% {opacity: 1; display: none;}
  99% {opacity: 0;}
  100% {opacity: 0; display: none;}
}

@keyframes hull-dropdownfadeIn {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -10%, 0) scale(.1);
  }
  100% {
    transform: translate3d(-50%, 0, 0) scale(1);
    opacity:1;
    display: block;
  }
}
@keyframes hull-dropdownfadeOutAndHide {
  0% {
    opacity: 1; display: block;
    transform: translate3d(-50%, 0, 0) scale(1);
  }
  99% {
    opacity: 0;
    transform: translate3d(-50%, -10%, 0) scale(.1);
  }
  100% {
    opacity: 0; display: none;
  }
}

@mixin modal-overlay-entrance-animation{
  animation: fadeIn .4s ease-out;
}
@mixin modal-overlay-exit-animation{
  animation: fadeOut .4s ease-out;
}
@mixin modal-entrance-animation{
  animation: hull-fadescalein .4s forwards ceaser($easeOutQuint);
}
@mixin modal-exit-animation{
  animation: hull-fadescaleout .2s forwards ease-in;
}

@mixin modal-slideup-animation{
  animation: hull-slideInUp .5s ceaser($easeOutQuint);
  transform: translate3d(-50%,0,0);
}
@mixin modal-slidedown-animation{
  transform: translate3d(-50%,0,0);
  animation: hull-slideOutDown .5s ceaser($easeOutQuint);
}




@mixin dropdown-entrance-animation{
  animation: hull-dropdownfadeIn .1s ceaser($easeOutQuint);
}
@mixin dropdown-exit-animation{
  animation: hull-dropdownfadeOutAndHide .1s ceaser($easeOutQuint);
}
