$sidebar_width: 240px;
// Master Variables
$base-font-size:        18px !default;
$base-line-height:      24px !default;
$base-rhythm-unit:      24px !default;
$typography_scale :     1.25 !default;

$h0_line_height: 3   !default;
$h1_line_height: 3   !default;
$h2_line_height: 2   !default;
$h3_line_height: 1.5 !default;
$h4_line_height: 1   !default;
$h5_line_height: 1   !default;
$h6_line_height: .5  !default;
$h7_line_height: .5  !default;

$h0_leading: 1   !default;
$h1_leading: 2   !default;
$h2_leading: 2.5 !default;
$h3_leading: 2.5 !default;
$h4_leading: 2   !default;
$h5_leading: 1   !default;
$h6_leading: 1   !default;
$h7_leading: 1   !default;

$h0_trailing: 1   !default;
$h1_trailing: 1   !default;
$h2_trailing: 0.5 !default;
$h3_trailing: 0.5 !default;
$h4_trailing: 1   !default;
$h5_trailing: 1   !default;
$h6_trailing: 1   !default;
$h7_trailing: 1   !default;
