// Colors
$white:                         #FFFFFF;
$black:                         #222222;
$black_2:                       #373f4a;
$turquoise:                     #4BC2B8;
$blue_darkest:                  #262C36;
$blue:                          #2CAAD0;
$blue_2:                        #0093e6; //rgba(37,164,213,0.98)
$blue_gray_darker:              #222B3F;
$blue_gray_dark:                #383E4B;
$blue_gray:                     #555B69;
$blue_gray_alt:                 #606776;
$blue_gray_light:               #9AA1B1;
$blue_gray_lighter:             #E0E2E7;
$blue_gray_lightest:            #D7DEE7;
$red:                           #E75F45;
$light_gray:                    #7B7B7B;
$light_blue_gray:               #798291;
$off_white:                     #fafafa;

$facebook_color: #3C5A98;
$google_color:   #EB2F12;
$twitter_color:  #00ABF5;
$github_color:   #999999;

$primary        : $blue;
$primary_alt    : $turquoise;
$secondary      : $blue_gray_dark;
$secondary-alt  : $blue_gray_alt;
$base-text      : $blue_gray;
$inverted-text  : $white;
$tertiary       : $blue_2;
$quaternary     : $red;

$btn_text_color : $blue_darkest;
$accent_text_header: $quaternary;
$light_text     : $light_blue_gray;
$light-filet    : transparentize($blue_gray, .9); 

// $tertiary_alt   :
// $quaternary     :
// $quaternary_alt :
// $quintary       :
// $quintary_alt   :

// Brand Gradient
// $primary_bg_image:     linear-gradient( to right top, $primary_alt, $tertiary);
$primary_bg_image:     radial-gradient(circle at -20% 100%, $primary_alt 0%, $tertiary 100%);
$primary_bg_color:     $primary;
$primary_bg_text:      $white;

// Inverted Gradient
$secondary_bg_gradient:radial-gradient(1500px 500px at top, $secondary-alt 0, transparentize($secondary-alt,1) 100%);
$secondary_bg_color:   $secondary;
$secondary_bg_text:    $white;

$standard_box_shadow:           0px 2px 2px 0px rgba(0,0,0,0.14);
