// Colors
$white                 : #FFFFFF;
$black                 : #222222;
$black_2               : #373f4a;
$turquoise             : #4BC2B8;
$red                   : #E75F45;
// $orange             : #E7A645;
$orange                : #FFC11F;

// $blue_darkest       : #262C36;
$blue_darkest          : #344259;
$blue                  : #2CAAD0;
$blue_2                : #0093E6;

// $gray-dark          : #383E4B;
// $gray-dark          : #4D586E;
// $gray-dark          : #4F5E7B;
// $blue_gray          : #555B69;
// $blue_gray          : #7B8BAE;
// $blue_gray          : #505661;
// $blue_gray_light    : #9AA1B1;

$blue_gray_lightest    : #D7DEE7;
$light_gray            : #7B7B7B;
$light_blue_gray       : #798291;

$facebook_color        : #3C5A98;
$google_color          : #EB2F12;
$twitter_color         : #00ABF5;
$github_color          : #999999;

$gray-darker           : #222B3F; // #222
$gray-dark             : #3F4654; // #333
$gray                  : #677DAD; // #555
$gray-light            : #697589; // #999
$gray-lighter          : #E0E2E7; // #eee
$gray-lightest         : #DEE3EA;
$off-white             : #F1F4F7;

$primary               : $blue_2;
$primary-color         : $blue_2;
$primary-alt           : $turquoise;

$secondary-color       : $gray-dark;
$secondary-alt         : $gray;

$tertiary-color        : $blue_2;
$quaternary-color      : $red;

$primary-color         : $primary;

$base-text             : $gray;
$light-text            : $gray-light;
$inverted-text         : $white;
$accent_text_header    : $quaternary-color;

// Brand Gradient
// $primary-gradient   : linear-gradient( to right top, $primary-alt, $tertiary-color);
// $primary-gradient   : radial-gradient(circle at -20% 100px, $primary-alt 0%, $tertiary-color 100%);
// $primary-gradient   : radial-gradient(circle at -20% 100px,  $tertiary-color 0%, $primary-alt 100%);
$primary-gradient      : linear-gradient(to right,  $tertiary-color 0%, $primary-alt 100%);
// $primary-gradient   : radial-gradient(circle at -100px 100px, $primary-alt 0px, $tertiary-color 1000px);

// Inverted Gradient
$secondary-gradient    : radial-gradient(1500px 500px at top, $secondary-alt 0, transparentize($secondary-alt,1) 100%);
$overlay-gradient      : radial-gradient(circle at 50% 0, transparentize($off-white,.8) 0%, rgba(19, 34, 58, 0.61) 100%);

$standard-box-shadow   : 0px 2px 2px 0px rgba(0,0,0,0.14);

