
$base-font-size:        14px;
$base-line-height:      18px;
$base-rhythm-unit:      18px;
$typography_scale :     1.125;

$h0_line_height: 3  ;
$h1_line_height: 2  ;
$h2_line_height: 1.5;
$h3_line_height: 1.5;
$h4_line_height: 1  ;
$h5_line_height: 1  ;
$h6_line_height: 1  ;
$h7_line_height: 1  ;
