// Separate file to allow for Overrides of font sizes.
$h7_font_size: $base-font-size/($typography_scale*$typography_scale*$typography_scale);
$h6_font_size: $base-font-size/$typography_scale;
$h5_font_size: $base-font-size;
$h4_font_size: $base-font-size*$typography_scale;
$h3_font_size: $base-font-size*$typography_scale*$typography_scale;
$h2_font_size: $base-font-size*$typography_scale*$typography_scale*$typography_scale;
$h1_font_size: $base-font-size*$typography_scale*$typography_scale*$typography_scale*$typography_scale;
$h0_font_size: $base-font-size*$typography_scale*$typography_scale*$typography_scale*$typography_scale*$typography_scale*$typography_scale*$typography_scale;
