$base-font-size: 14px;
$base-line-height: 20px;
$base-rhythm-unit: 20px;
$typography_scale : 1.25;

$border-radius-base: 3px;
$border-radius-large: 5px;
$border-radius-small: 5px;

// $font-size-h1: 18px;
$topbar-height: 50px;
// $sidebar-width: 200px;
$sidebar-color: #fff;
$space-small: 10px;
$space-medium: $space-small * 2;
$space-large: $space-small * 3;
