.pt-0{@include padding-leader(0); }
.pb-0{@include padding-trailer(0); }
.pt-1{@include padding-leader(1); }
.pb-1{@include padding-trailer(1); }
.pt-2{@include padding-leader(2); }
.pb-2{@include padding-trailer(2); }
.mt-0{@include leader(0); }
.mb-0{@include trailer(0); }
.mt-1{@include leader(1); }
.mb-1{@include trailer(1); }
.mt-2{@include leader(2); }
.mb-2{@include trailer(2); }
.mt-3{@include leader(3); }
.mb-3{@include trailer(3); }
.mt-4{@include leader(4); }
.mb-4{@include trailer(4); }
.block-center{
  margin-left:auto;
  margin-right:auto;
}

.p-0{
  padding:0; 
}
.ps-0{
  padding-left: 0;
  padding-right:0; 
}
.ps-1{
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;
}
