.m-0{
  @include trailer(0);
  @include leader(0);
}
.p-0{
  @include padding-leader(0);
  @include padding-trailer(0);
}

@for $i from 0 through 4 {
  .pt-#{$i} {@include padding-leader($i);}
  .pb-#{$i} {@include padding-trailer($i);}
  .mt-#{$i} {@include leader($i);}
  .mb-#{$i} {@include trailer($i);}
  .pl-#{$i}{padding-left: ($grid-gutter-width*$i)/2;}
  .pr-#{$i}{padding-right: ($grid-gutter-width*$i)/2;}
}

.mt-05{@include leader(.5); }
.mb-05{@include trailer(.5); }
.pt-05{@include padding-leader(.5); }
.pb-05{@include padding-trailer(.5); }

.block-center{
  margin-left:auto;
  margin-right:auto;
}

.ps-0{
  padding-left: 0;
  padding-right:0; 
}
.ms-0{
  margin-left: 0;
  margin-right:0; 
}
.ps-1{
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
}

.splitter{
  // @include box-shadow(inset 0 -1px 0 $light-filet);
}
