body{
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  background: $off-white;
}
.white-bg{
  background: $white;
}

a{
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

p{
  @include adjust-font-size-to($base-font-size,1);
  @include rhythm(.5,0,0,.5);
  small{
    @include adjust-font-size-to($h7_font_size, 1);
  }
  .blog .posts-wrapper &{
    @include adjust-leading-to(1.125);
  }
}
ul{
  @include rhythm(0,0,0,1);
}
dl.dl-horizontal dt, dl.dl-horizontal dd{
  @include adjust-font-size-to(14px);
  @include rhythm(.25,0,0,.25, 14px);
}
dl.dl-horizontal dd{
  @include adjust-leading-to(1.5, 14px);
}
blockquote{
  @include rhythm(0,1,1,1);
}

pre{
  padding: 0 $padding-base-horizontal;
  @include adjust-font-size-to(12px);
  @include rhythm(1,.5,.5,1,12px);
  font-family: Menlo, monospace;
  border-radius: 0;
  border:none;
  background: $off_white;
  color:$light-text;
}

code{
  color: $light-text;
  background-color: $off-white;
  @include adjust-font-size-to(13px);
}

.bold{   @include font-weight-bold; }
.normal{ @include font-weight-normal; }
.thin{   @include font-weight-light; }
.small{}

.inline{
  display: inline;
}

[data-icon]:before, .icon:before {
  line-height: initial !important;
  vertical-align: middle;
}
.btn-xs, .btn-sm{
  .icon:before{
    -webkit-font-smoothing: subpixel-antialiased !important;
    font-smoothing: subpixel-antialiased !important;
  }
}


%text-accented{
  color: $accent_text_header;
  small{
    color: lighten($accent_text_header, 10%);
  }
}
