<section class="admin-content">
  <div class="page-header">
    <div class="pull-right">
      <a href="#" class="btn">View Organization</a>
    </div>
    <h3 class="m0">Hull Demo</h3>
    <code>http://hull-demos.hullapp.io</code>
  </div>
  
  <form>
    <fieldset class="m2">
      <legend>General settings</legend>
      <div class="control-group">
        <label>Organization Name</label>
        <input type="text" class="input-block-level" placeholder="Type something…">
      </div>
      
      <div class="control-group">
        <label>Organization Namespace</label>
        <input type="text" class="input-block-level" placeholder="Type something…">
        <small class="help-block muted">Example block-level help text here.</small>
      </div>
    </fieldset>

    <fieldset>
      <legend>Plan</legend>
      <p>Current Plan: <strong>Premium</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse dolorum incidunt quia cumque sint ad explicabo et harum praesentium saepe id accusamus dolores laudantium hic earum deserunt placeat! Ullam dicta.</p>
      <a href="#" class="btn">Change plan</a>
    </fieldset>
              
    <fieldset>
      <hr>
      <div class="text-right">
        <button class="btn btn-danger pull-left">Delete Organization</button>
        <button class="btn btn-link">Cancel</button>
        <button type="submit" class="btn btn-primary">Save Organization</button>
      </div>
    </fieldset>
    
  </form>
  
</section>
