<section class="admin-content">
  <div class="page-header">
     <div class="pull-right">
       <a href="#" class="btn btn-primary">
         <i class="icon-plus icon-white"></i>
         Add a new organization
       </a>
     </div>
     <h3>Organizations</h3>
     <p class="muted">Organizations are the starting point for everything in hull</p>
   </div>
   <div class="row-fluid unstyled list-organizations">
      <div class="span3 list-organizations-item">
        <div class="btn-group pull-right">
          <a class="btn btn-link btn-small dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-cog"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Edit</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Delete</a>
            </li>
          </ul>
        </div>
        <h4><a href="#">Universal</a></h4>
        
        <div class="stats m1">
          <small>API Calls: 120 of 150</small>
          <div class="progress progress-small">
            <div class="bar" style="width: 75%;"></div>
          </div>
          <small>Users: 54 of 100</small>
          <div class="progress progress-small">
            <div class="bar" style="width: 51%;"></div>
          </div>
        </div>
        
        <code>http://universal.hullapp.io</code>
      </div> 
      <div class="span3 list-organizations-item">
        <div class="btn-group pull-right">
          <a class="btn btn-link btn-small dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-cog"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Edit</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Delete</a>
            </li>
          </ul>
        </div>
        <h4><a href="#">Hull Demo</a></h4>
        
        <div class="stats m1">
          <small>API Calls: 10 of 150</small>
          <div class="progress progress-small">
            <div class="bar" style="width: 5%;"></div>
          </div>
          <small>Users: 1123 of 1200</small>
          <div class="progress progress-small">
            <div class="bar" style="width: 95%;"></div>
          </div>
        </div>
        
        <code>http://hull-demo.hullapp.io</code>
      </div> 
   </div>
</section>
