  <ul class="nav nav-list nav-list-admin">
    <li class="nav-header">General</li>
    <li class="active"><a href="#"> <span class="pull-right label label-inverse">12</span> Applications </a></li>
    <li><a href="#"> Users</a></li>
    <li><a href="#"> Statistics</a></li>
    <li><a href="#"> Playground</a></li>
    <li><br></li>
    <li class="nav-header">Usage</li>
    <li class="nav-stat">
      <small>API Calls: 100 of 150</small>
      <div class="progress progress-small">
        <div class="bar" style="width: 60%;"></div>
      </div>
    </li>
    <li class="nav-stat">
      <small>Users: 54 of 500</small>
      <div class="progress progress-small">
        <div class="bar" style="width: 20%;"></div>
      </div>
    </li>
  </ul>
