  <!-- Content -->
  <div class="admin-empty admin-empty--sidebar text-center">
    <div class="admin-empty-wrapper">
        <span class="admin-empty-icon">&#9785;</span>
        <p>Please select or create an organization</p>
    </div>
  </div>
