<li class="htl-item htl-item-blue dropdown won" style='left:<%= x %>%;'>
  <span class="dropdown-toggle">
    <i class="htl-dot"></i>
  </span>
  <div class="htl-popover">
    <div class="arrow"></div>
    <img class="img-circle htl-avatar" src="<%=image%>">
    <a href='#' class='htl-name'><strong>Romain Dardour</strong></a>
    <em>won</em>
  </div>
</li>
