    <li class="htl-item htl-item-blue dropdown" style='left:<%= x %>%;'>
      <span class="dropdown-toggle">
        <i class="htl-dot"></i>
      </span>
      <div class="htl-popover">
        <div class="arrow"></div>
        <a href='#' class='htl-date'><strong>17 / 08 / 2014, 17:25</strong></a>
        <a href="#" class="text-danger bold pull-right"><small>DELETE</small></a>
      </div>
    </li>
