<section class="admin-content">
   <div class="page-header">
     <h3 class="m0">Users</h3>
   </div>
   
   <div id="list">
      
      <div class="btn-group pull-right">
        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
          Sort by
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#" class="sort" data-sort="name">Name</a>
          </li>
          <li>
            <a href="#" class="sort" data-sort="organization">Organization</a>
          </li>
        </ul>
      </div>
      
      <input type="text" class="search" placeholder="Search" />
       
       <ul class="nav nav-tabs nav-stacked list list-user">
          <li>
            <a href="#" class="js-toggle-sidebar-r">
              <div class="media">
                <div class="pull-left">
                  <img width="50" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=50" alt="" class="media-object">
                </div>
                <div class="media-body">
                  <h5 class="media-heading"><span class="name">Philip Foeckler</span> <small>Front-end-dev, social-features</small></h5>
                  <ul class="unstyled">
                    <li class="organization">
                      <strong>Organizations:</strong> Hulldemo
                    </li>
                    <li>
                      <strong>Progress:</strong> 4/6
                    </li>
                    <li>
                      <strong>Status:</strong> app_initialized
                    </li>
                  </ul>
                </div>
              </div>
              <i class="icon-chevron-right"></i>
            </a>
          </li>
          <li>
            <a href="#" class="js-toggle-sidebar-r">
              <div class="media">
                <div class="pull-left">
                  <img width="50" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=50" alt="" class="media-object">
                </div>
                <div class="media-body">
                  <h5 class="media-heading"><span class="name">Philip Foeckler</span> <small>Front-end-dev, social-features</small></h5>
                  <ul class="unstyled">
                    <li class="organization">
                      <strong>Organizations:</strong> Hulldemo
                    </li>
                    <li>
                      <strong>Progress:</strong> 4/6
                    </li>
                    <li>
                      <strong>Status:</strong> app_initialized
                    </li>
                  </ul>
                </div>
              </div>
              <i class="icon-chevron-right"></i>
            </a>
          </li>
          <li>
            <a href="#" class="js-toggle-sidebar-r">
              <div class="media">
                <div class="pull-left">
                  <img width="50" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=50" alt="" class="media-object">
                </div>
                <div class="media-body">
                  <h5 class="media-heading"><span class="name">Philip Foeckler</span> <small>Front-end-dev, social-features</small></h5>
                  <ul class="unstyled">
                    <li class="organization">
                      <strong>Organizations:</strong> Hulldemo
                    </li>
                    <li>
                      <strong>Progress:</strong> 4/6
                    </li>
                    <li>
                      <strong>Status:</strong> app_initialized
                    </li>
                  </ul>
                </div>
              </div>
              <i class="icon-chevron-right"></i>
            </a>
          </li>
          <li>
            <a href="#" class="js-toggle-sidebar-r">
              <div class="media">
                <div class="pull-left">
                  <img width="50" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=50" alt="" class="media-object">
                </div>
                <div class="media-body">
                  <h5 class="media-heading"><span class="name">Philip Foeckler</span> <small>Front-end-dev, social-features</small></h5>
                  <ul class="unstyled">
                    <li class="organization">
                      <strong>Organizations:</strong> Hulldemo
                    </li>
                    <li>
                      <strong>Progress:</strong> 4/6
                    </li>
                    <li>
                      <strong>Status:</strong> app_initialized
                    </li>
                  </ul>
                </div>
              </div>
              <i class="icon-chevron-right"></i>
            </a>
          </li>
          <li>
            <a href="#" class="js-toggle-sidebar-r">
              <div class="media">
                <div class="pull-left">
                  <img width="50" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=50" alt="" class="media-object">
                </div>
                <div class="media-body">
                  <h5 class="media-heading"><span class="name">Philip Foeckler</span> <small>Front-end-dev, social-features</small></h5>
                  <ul class="unstyled">
                    <li class="organization">
                      <strong>Organizations:</strong> Hulldemo
                    </li>
                    <li>
                      <strong>Progress:</strong> 4/6
                    </li>
                    <li>
                      <strong>Status:</strong> app_initialized
                    </li>
                  </ul>
                </div>
              </div>
              <i class="icon-chevron-right"></i>
            </a>
          </li>
       </ul>
       
      <ul class="paging unstyled"></ul>
   </div>
   
</section>
