<header class="admin-header">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          
          <ul class="nav nav-center">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Hull.io
                <span class="caret caret-double"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Identity</a>
                </li>
                <li>
                  <a href="#">Activity</a>
                </li>
              </ul>
            </li> 
          </ul>
          
          <ul class="nav pull-right">
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <img src="//gravatar.com/avatar/d7011ffc88d086f44402be5be6d233c4.png?s=22">
                 Victor <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                 <li><a  href="#profileModal" data-toggle="modal">Edit your profile</a></li>
                 <li class="divider"></li>
                 <li><a href="#">Documentation</a></li>
                 <li><a href="#">Sign out</a></li>
               </ul>
             </li>
           </ul>
           
           <a href="#" class="btn js-toggle-sidebar-r">
             Back
           </a>
           
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</header> <!-- /.admin-header -->
