<section class="admin-content">
  <div class="admin-empty text-center">
    <div class="admin-empty-wrapper">
        <span class="admin-empty-icon">&#9785;</span>
        <h4>Applications</h4>
        <p>You haven't created any applications.  <a href="#">Learn more</a></p>
        <a href="#" class="btn">
          <i class="icon-plus"></i>
          Create your first app
        </a>
    </div>
  </div>
</section>
