<section class="admin-content">
   <div class="page-header">
     <div class="pull-right">
       <a href="#appModal" data-toggle="modal" class="btn btn-primary">
         <i class="icon-plus icon-white"></i>
         Create a new application
       </a>
     </div>
     <h3>Applications</h3>
     <p class="muted">Applications define which services to use. User interactions are segmented by app.</p>
   </div>
   
   <div id="list">
      
      <div class="btn-group  pull-right">
        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
          Sort by
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#" class="sort" data-sort="name">Name</a>
          </li>
          <li>
            <a href="#" class="sort" data-sort="id">ID</a>
          </li>
          <li>
            <a href="#" class="sort" data-sort="users">Users</a>
          </li>
          <li>
            <a href="#" class="sort" data-sort="inits">Inits</a>
          </li>
        </ul>
      </div>
      
      <input type="text" class="search" placeholder="Search" />
       
       <ul class="nav nav-tabs nav-stacked list list-admin">
          <li>
            <a href="#" class="js-toggle-sidebar-r">
              <i class="icon-chevron-right pull-right"></i>
              <div class="pull-right muted">
                <span class="users">51 users</span>
                &#8211;
                <span class="inits">472 inits</span>
              </div>
              <strong class="name">Blog</strong>
              &#8212;
              <span class="id">512f535e42ba142e9f00000e</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-chevron-right pull-right"></i>
              <div class="pull-right muted">
                <span class="users">1230 users</span>
                &#8211;
                <span class="inits">12 inits</span>
              </div>
              <strong class="name">Hullcolors</strong>
              &#8212;
              <span class="id">512f535e42ba142e9f00000e</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-chevron-right pull-right"></i>
              <div class="pull-right muted">
                <span class="users">51 users</span>
                &#8211;
                <span class="inits">472 inits</span>
              </div>
              <strong class="name">Hullcolors</strong>
              &#8212;
              <span class="id">512f535e42ba142e9f00000e</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-chevron-right pull-right"></i>
              <div class="pull-right muted">
                <span class="users">51 users</span>
                &#8211;
                <span class="inits">472 inits</span>
              </div>
              <strong class="name">Hullcolors</strong>
              &#8212;
              <span class="id">512f535e42ba142e9f00000e</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-chevron-right pull-right"></i>
              <div class="pull-right muted">
                <span class="users">51 users</span>
                &#8211;
                <span class="inits">472 inits</span>
              </div>
              <strong class="name">Hullcolors</strong>
              &#8212;
              <span class="id">512f535e42ba142e9f00000e</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-chevron-right pull-right"></i>
              <div class="pull-right muted">
                <span class="users">51 users</span>
                &#8211;
                <span class="inits">472 inits</span>
              </div>
              <strong class="name">Hullcolors</strong>
              &#8212;
              <span class="id">512f535e42ba142e9f00000e</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-chevron-right pull-right"></i>
              <div class="pull-right muted">
                <span class="users">51 users</span>
                &#8211;
                <span class="inits">472 inits</span>
              </div>
              <strong class="name">Hullcolors</strong>
              &#8212;
              <span class="id">512f535e42ba142e9f00000e</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-chevron-right pull-right"></i>
              <div class="pull-right muted">
                <span class="users">51 users</span>
                &#8211;
                <span class="inits">472 inits</span>
              </div>
              <strong class="name">Hullcolors</strong>
              &#8212;
              <span class="id">512f535e42ba142e9f00000e</span>
            </a>
          </li>
       </ul>
       
      <ul class="paging unstyled"></ul>
   </div>
</section>
