<section class="admin-content">
   <div class="page-header">
     <div class="pull-right">
       <a href="#myModal" data-toggle="modal" class="btn">Edit</a>
     </div>
     <h3 class="m0">
       Hullcolors
       <small>
         <strong>44</strong> Users &#8212; <strong>21</strong> App inits
       </small>
     </h3>
   </div>
   
   <div class="well well-getstarted">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     <h4>Get Started</h4>
     <p>Congrats! You've created an application. Some things you might want to see next:</p>
     
     <ul>
       <li>
         <a href="#">
           <strong>
            Add services
           </strong>
         </a>
       </li>
       <li>
         <a href="#">
            <strong>
              Download the starter template
            </strong>
         </a>
         <p>Open index.html and update the initialization call with your App ID and organization domain:</p>
<pre><code>Hull.init({
appId : &quot;512f535e42ba142e9f00000e&quot;,
orgUrl: &quot;http://hull-demos.hullapp.io&quot;,
debug : true // optional
});
</code></pre>               
       </li>
       <li>
         <a href="#">
            <strong>
              Read the documentation
            </strong>
         </a>
         <p>For a complete list of packaged widgets you can use immediately</p>
       </li>
     </ul>
   </div>
  
  <div class="row-fluid">
    <div class="span6">
      <div class="admin-infos">
        <header>
          <h5>Informations</h5>
        </header>
        <dl>
          <dt>Id:</dt>
          <dd>cus_1EIjm4dB6S178k</dd>
          
          <dt>Secret:</dt>
          <dd>456c2e35367467dce020b899fe857529</dd>

          <dt>Organization:</dt>
          <dd>http://hull-demos.hullapp.io</dd>
          
          <dt>Domains:</dt>
          <dd>hull-dev.tumblr.com, blog.hull.io</dd>
        </dl>
      </div>
    </div>
    <div class="span6">
      <div class="admin-infos">
        <header>
          <div class="pull-right">
            <a href="#">
              <i class="icon-plus"></i>
              Add hook
            </a>
          </div>
          <h5>Hooks</h5>
        </header>
        <dl>
          <dd><span class="muted">None for now, add them!</span></dd>
        </dl>
      </div>
    </div>
  </div>
  
  <div class="row-fluid">
  
    <div class="span6">
      <div class="admin-infos">
        <header>
          <div class="pull-right">
            <a href="#">
              <i class="icon-cog"></i>
              Edit provider
            </a>
          </div>
          <h5>Providers</h5>
        </header>
        <dl>
          <dt>Github</dt>
          <dd><input type="checkbox" id="github" checked></dd>
          <dt>Facebook</dt>
          <dd><input type="checkbox" id="facebook" checked></dd>
          <dt>Twitter</dt>
          <dd><input type="checkbox" id="twitter" ></dd>
        </dl>
      </div>
    </div>
    
    <div class="span6">
      <div class="admin-infos">
        <header>
          <div class="pull-right">
            <a href="#">
              <i class="icon-plus"></i>
              Add service
            </a>
          </div>
          <h5>Analytics</h5>
        </header>
        <dl>
          <dd><span class="muted">None for now, add them!</span></dd>
        </dl>
      </div>
    </div>
    
  </div>
  
  
  <hr>
  
  <div class="text-right m1">
    <a href="#" class="btn btn-small btn-danger">Delete application</a>
  </div>
  
</section>
