// Double caret
// -------------------------

.caret-double{
  @include position;
  top: 4px;
  left: 2px;
  &:before{
    @include position(absolute, -10px 0 0 -4px);
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-bottom: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    .navbar-inverse &{
      border-bottom: 4px solid #999;
    }
  }
}

.navbar-inverse .dropdown.open .caret:before,
.navbar-inverse .dropdown>a:hover .caret:before,
.navbar-inverse .dropdown>a:focus .caret:before,
.navbar-inverse .dropdown>a:active .caret:before{ 
  border-bottom-color:#eee;
}
