/* Featurettes
   ------------------------- */

.featurette{
  position:relative;
  padding:0;
  >.container{
    padding:60px 0;
  }
}

  .featurette-shadow{
      >.container{
        @include background-image(
            linear-gradient( right, white, rgba(white,0) 50%, white),
            linear-gradient(rgba(black,.025),rgba($wellBackground,0))
        );
        background-repeat: no-repeat;
        background-position:top center;
        background-size: 100% 75px;
        border-top: 1px solid $hrBorder;
      }
  }

  .featurette-well,
  .featurette-well-noisy,
  .featurette-radial-gradient{
    background-color:$wellBackground;
  }

  .featurette-welldark,
  .featurette-welldark-noisy,
  .featurette-linear-gradient-dark {
    background-color:$wellBackgroundDark;
    color:$white;
  }

  .featurette-border{
    >.container{
      border-top: 1px solid $hrBorder;
    }
  }

  .featurette-well-noisy{
    @include rhythm(0,1,0,0);
        @include background-image(linear-gradient( rgba(darken($wellBackground, 5%), .98),  rgba(darken($wellBackground, 5%), .98)),
        image-url('pattern.jpg')
    );
  }

  .featurette-welldark-noisy{
   @include rhythm(0,1,0,0);
       @include background-image(linear-gradient( rgba(darken($wellBackgroundDark, 5%), .98),  rgba(darken($wellBackgroundDark, 5%), .98)),
       image-url('pattern.jpg')
   );   
  }

  .featurette-top-shadow,
  .featurette-bottom-shadow{
    overflow:hidden;
      &:before{
        box-shadow: 0 0 8px rgba(0,0,0,0.25);
        position: absolute;
        top: -20px;
        right: -20px;
        left: -20px;
        height: 20px;
        pointer-events: none;
        display: block;
        content: "";
        width: auto;
      }
  }

  .featurette-bottom-shadow{
    &:before{
      top:auto;
      bottom:-20px;
    }
  }

  .featurette-linear-gradient{
      @include background-image(
        linear-gradient($wellBackground, rgba($wellBackground, 0))
      );
      background-size:100% 240px;
      background-repeat:repeat-x;
      background-position:0 0;
  }

  .featurette-radial-gradient{
    @include background(
      radial-gradient(#fff, darken($wellBackground, 15%))
    );
  }

  .featurette-linear-gradient-dark {
      @include background-image(
        linear-gradient(rgba($wellBackgroundDark,.99) rgba(lighten($wellBackgroundDark, 10%), .99)),
        image-url('pattern.jpg')
      );
  }