form abbr[title],
form abbr[data-original-title]{
  border-bottom:0;
  &[title="required"]{
    color:$red;
    font-size:16px;
    display:none;
  }
}

.control-group{
  label.optional {
    color: $grayLight;
  }
}
