.modal-small{
    width:400px;
    margin-left:-200px;
    .form-horizontal{
      p,
      label,
      input[type="text"],
      input[type="password"],
      select{
          font-size:13px;
      }
        .controls {
          margin-left: 120px;
        }
        .control-label {
          width: 100px;
        }
    }
}
