.nav > li > a > img{
    width:22px;
    margin-right:6px;
    float:left;
    border-radius:$borderRadiusSmall;
}


// Inside the administration
.admin-header,
.admin-sidebar-r{
  .navbar-inner{
    border-radius:$baseBorderRadius 0 0 0;
  }
}

.admin-sidebar{
  .navbar-inner{
    background-color:$grayDark;
    border:0;
    border-top:1px solid rgba(white,.25);
    border-bottom:1px solid rgba(black,.25);
    @include background-image(
      linear-gradient(top, lighten($grayDark, 5%), darken($grayDarker, 5%))
    );
    border-right:0;
    border-radius:0;
    margin-right:-20px;
  }
  .navbar .nav > li > a {padding-left:0;}
}