  <section class="admin-content">
    <div class="admin-playground-code">
        
        <div class="admin-playground-input">
          <textarea rows="6"></textarea>
          <div class="admin-playground-input-actions">
            <button class="btn pull-right btn-primary btn-small">Render</button>
            <small class="muted">Choose a widget, render and enjoy.</small>
          </div>
        </div>
        
        <hr>
        
        <h4>Practical Examples</h4>
        <h5 class="light-title light">
          Load any of the examples below and play around with them in the editor to see the results.
        </h5>
        
        <dl>
          <dt><a href="#">Identity</a></dt>
          <dd><small class="muted">A Login widget, shows your picture and name.</small></dd>
          
          <dt><a href="#">Friends</a></dt>
          <dd><small class="muted">Show friends of the user</small></dd>
          
          <dt><a href="#">Instant Wins</a></dt>
          <dd><small class="muted">There's something to see here.</small></dd>
        </dl>

                    
        <hr>
        <h4>Want more?</h4>
        <h5 class="light-title light">
          <a href="http://hull.io/docs">Read the documentation</a> for a complete list of packaged widgets you can use immediately.
        </h5>
    </div>
    <div class="admin-playground-result">
      <div class="well well-inverse m1"></div>
    </div>
  </section>
