.dropdown-menu{
  background-color: #fff;
  @extend %white-background;
  top: 90%;
  @include border-radius(5px !important); 
  border: 0;
  @include box-shadow(0 0px 12px rgba(0, 0, 0, 0.1));
  background-clip: padding-box;

  .divider{
    @include rhythm(.5,0,0,0);
    background:transparent;
    border-color: #ccc;
    @include leading-border(1px , .5);
    @include adjust-font-size-to($base-font-size);
  }
  &:before {
    content: "";
    display: inline-block;
    border-left: 7px solid rgba(0,0,0,0);
    border-right: 7px solid rgba(0,0,0,0);
    border-bottom: 7px solid #CCC;
    border-bottom-color: white;
    position: absolute;
    top: -7px;
    right: 29px;
  }
}

.form-invisible{
  .form-control{
    border:none;
    @include border-radius(0);
    @include transition(all .2s ease-out);
    background-color: rgba(115, 124, 129, 0);
    color: #333;
    @include box-shadow(none);
    @include leader(0);
    @include trailer(0);
    &:focus{
      @include box-shadow(none);
      background-color: rgba(115, 124, 129, 0.12); 
    }
  }
  .form-group{
    @include trailer(0);
  }
}
.pad{
  padding:0 $padding-base-horizontal*2;
}
