// .navbar{
//   @include background(linear-gradient(to right top, #4bc2b8,#0093e6));
// }
.navbar-toggle{
  @include rhythm(1,0,0,1);
  .icon-bar{
    background: transparentize($primary_bg_text,.5);
    height: 4px;
    @include border-radius(3px);
  }
}

.navbar-branded{
  background-color:$primary_bg_color;
  border:none;
  @include background-image($primary_bg_image);
  @include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.14));
  .navbar-brand{
    @include inline-retina-sprite('logo/navbar-logo.png');
    @include rhythm(.5,.5,.5,.5);
    @include adjust-font-size-to(16px);
    @include adjust-leading-to(1, 16px);
    height: auto;
    background-position: left center;
    background-repeat:no-repeat;
    margin-right:$padding-base-horizontal;
  }
  .navbar-pill{
    color: $primary_bg_text;
    border-color: transparent;
    opacity: .7;
    @include rhythm-borders(2px, .05, 16px);
    @include pill($padding-base-horizontal, 16px, 2px, .05);
    @include adjust-font-size-to(16px);
    margin:0 $padding-base-horizontal/4;
    @include leader(.93, 16px);
    @include trailer(.93, 16px);
    @extend %animate;
    font-weight: 200;
    letter-spacing: 0.01em;
    text-rendering:optimizeLegibility;
    &:hover, &:focus{
      opacity: 1;
      border-color: transparentize($primary_bg_text, .88);
      background-color: transparentize($primary_bg_text, .88);
      color: transparentize($primary_bg_text,.3);
    }
  }
  .open {
    > .navbar-pill, > .navbar-pill:hover, .navbar-pill:focus{
      border-color: transparentize($primary_bg_text, .5);
      background-color: transparentize($primary_bg_text, .88);
      color: transparentize($primary_bg_text,.1);
    }
  }
}
