// .navbar{
//   @include background(linear-gradient(to right top, #4bc2b8,#0093e6));
// }

/*
******************
** Navbar Styles
******************
*/

.navbar-toggle{
  @include rhythm(1,0,0,1);
  .icon-bar{
    background: transparentize($primary_bg_text,.5);
    height: 4px;
    @include border-radius(3px);
  }
}


.navbar{
  border:none;
  @include rhythm(0,0,0,0);
  .navbar-brand{
    @include adjust-font-size-to($base-font-size);
    @include inline-retina-sprite('logo/navbar-logo-dark.png');
    height: $base-line-height*2;
    background-position: left center;
    background-size: contain;
    background-repeat:no-repeat;
    @include rhythm(.5,0,0,.5);
    margin-right:$padding-base-horizontal*2;
  }
  > .container .navbar-brand,
  > .container .navbar-header{
    margin-left: 0;
  }
  .navbar-item{
    @extend %animate;
    letter-spacing: 0.01em;
    @include font-weight-light;
    @include btn-rounded;
    margin-left:$padding-base-horizontal/8;
    margin-right:$padding-base-horizontal/8;
    @include btn-rhythm(1.5, 1.5, 14px, $padding-base-horizontal);
    @media (min-width: $screen-md-min){
      margin-left:$padding-base-horizontal/4;
      margin-right:$padding-base-horizontal/4;
      @include btn-rhythm(1.5, 1.5, 16px, $padding-base-horizontal);
    }
  }
  .navbar-item-highlight{
    @extend .navbar-item;
    @include btn-transparent;
  }
  .open > .navbar-item-highlight{
    @include btn-transparent;
  }
  // .navbar-form{
  //   margin:0; 
  //   .icon-search{
  //     color: $primary;
  //     top: 19px;
  //     right: 3px;
  //     opacity: .3;
  //   }
  // }
}

.navbar-branded{
  .navbar-collapse{
    @media (max-width: $screen-sm-max){
      max-height: none;
    }
  }
  // @include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.14));
  @extend %blue-background;
  -webkit-font-smoothing:subpixel-antialiased;
  border:none;
  .container{
    position: relative;
  }
  .user-login-dropdown{
    @media (max-width: $screen-sm-max){
      .signup-dropdown{
        background-color: $white;
      }
      .dropdown-menu::before{
        display: none;
      }
    }
    // .navbar-item{
    //   padding-top:0;
    //   padding-bottom:0;
    //   @include adjust-leading-to(1.5); 
    // }
    img.avatar{
      height: $base-line-height*1.33333333334 - 2px;
      top: - $base-line-height / 4;
      max-height: none;
      float: left;
      position: relative;
      display: inline-block;
      @include border-radius(100px);
      left: 1 - $padding-base-horizontal;
    }
  }
  .navbar-brand{
    @include inline-retina-sprite('logo/navbar-logo.png');
    height: $base-line-height*2;
    background-position: left center;
    background-size: contain;
    background-repeat:no-repeat;
  }
  .navbar-item{
    @include btn-invisible();
  }
  .open {
    > .navbar-item, > .navbar-item:hover, .navbar-item:focus{
      border-color: transparentize($primary_bg_text, .5);
      background-color: transparentize($primary_bg_text, .88);
      color: transparentize($primary_bg_text,.1);
    }
  }
  .nav > li{
    @media (max-width: $screen-md-max){
      padding-right: $padding-base-horizontal;
      padding-left: $padding-base-horizontal;
    }
  }
}

.navbar-input-group {
  .form-control, .btn{
    @include border-radius(100px);
    @include transition(all .2s ease-out);
    @include adjust-font-size-to(16px, 1);
    @include adjust-leading-to(1,16px);
    @include rhythm(.5,.25,.25,.5,16px);
  }
  @media (min-width: $screen-sm) {
    .form-control{
      position: relative;
      z-index: 2;
      border:none;
      height: auto;
      width: 40px;
      left: 40px;
      padding-left: 0;
      padding-right: 0;
      opacity: 0;
      &:focus{
        opacity: 1;
        @extend %animate;
        width: 200px;
        left: 16px;
        @include border-radius(100px 0 0 100px);
        padding-left: $padding-base-horizontal;
        padding-right: $padding-base-horizontal;
        &+.btn{
          z-index: 10;
          position: relative;
          opacity: 1;
          background-color: $white;
          i{
            color: $primary;
          }
        }
      }
    }
    .btn {
      z-index: 1;
      background-color: transparentize($primary, 1);
      padding-left: $padding-base-horizontal;
      padding-right: $padding-base-horizontal;
      border-left: 0px;
      i{
        color: white;
      }
    }
  }
  // @media (max-width: $screen-xs-max) {
  //   margin-top:0px;
  //   margin-bottom:0px;
  //   .btn {
  //     width:100%;
  //   }
  // }
}

.navbar-search{
  .btn{
    position: relative;
    top:   0;
    // width: 40px;
    height: $base-line-height*1.5;
  }
}

.navbar-text{
  margin: 0;
  @include rhythm(1,0,0,1, 16px);
  @include adjust-font-size-to(16px);
  &.text-muted{
    color: white;
    margin-right: $padding-base-horizontal/2;
    opacity: .4;
  }
}
