// .navbar{
//   @include background(linear-gradient(to right top, #4bc2b8,#0093e6));
// }

/*
******************
** Navbar Styles
******************
*/

.navbar-toggle{
  @include rhythm(1,0,0,1);
  .icon-bar{
    background: transparentize($primary_bg_text,.5);
    height: 4px;
    @include border-radius(3px);
  }
}

.navbar{
  border:none;
  @include rhythm(0,0,0,0);
  .navbar-brand{
    @include inline-retina-sprite('logo/navbar-logo-dark.png');
    @include rhythm(.5,.5,.5,.5);
    @include adjust-font-size-to(16px);
    @include adjust-leading-to(1, 16px);
    height: auto;
    background-position: left center;
    background-repeat:no-repeat;
    margin-right:$padding-base-horizontal*2;
    margin-top: 15px;
  }
  > .container .navbar-brand,
  > .container .navbar-header{
    margin-left: 0;
  }
  .navbar-item{
    @extend %animate;
    @include font-weight-light;
    @include btn-rounded;
    margin-left:$padding-base-horizontal/8;
    margin-right:$padding-base-horizontal/8;
    @include btn-rhythm(1.5, 1.5, 14px, $padding-base-horizontal/2);
    @media (min-width: $screen-md-min){
      margin-left:$padding-base-horizontal/4;
      margin-right:$padding-base-horizontal/4;
      @include btn-rhythm(1.5, 1.5, 16px, $padding-base-horizontal);
    }
  }
  .navbar-item-highlight{
    @extend .navbar-item;
    @include btn-transparent;
  }
  .open > .navbar-item-highlight{
    @include btn-transparent;
  }
  .navbar-form{
    margin:0; 
    .icon-search{
      color: $primary;
      top: 19px;
      right: 3px;
      opacity: .3;
    }
  }
  .form-control{
    @include adjust-font-size-to(14px, 1);
    @include rhythm(.75,.25,.25,.75,14px);
    border:none;
    height: auto;
  }
}

.navbar-branded{
  .container{
    position: relative;
  }
  @extend %blue-background;
  -webkit-font-smoothing:subpixel-antialiased;
  border:none;
  // @include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.14));
  .navbar-brand{
    @include inline-retina-sprite('logo/navbar-logo.png');
  }
  .navbar-item{
    @include btn-invisible();
  }
  .open {
    > .navbar-item, > .navbar-item:hover, .navbar-item:focus{
      border-color: transparentize($primary_bg_text, .5);
      background-color: transparentize($primary_bg_text, .88);
      color: transparentize($primary_bg_text,.1);
    }
  }
  .nav > li{
    @media (max-width: $screen-md-max){
      padding-right: $padding-base-horizontal;
      padding-left: $padding-base-horizontal;
    }
  }
  .sb-search-input{
    color: $light_gray;
    @media (min-width: $screen-sm-min){
      background-color: rgba(255,255,255,0);
    }
  }
  .sb-search-input::-webkit-input-placeholder {color: transparentize($primary,.8); }
  .sb-search-input:-moz-placeholder {color: transparentize($primary,.8); }
  .sb-search-input::-moz-placeholder {color: transparentize($primary,.8); }
  .sb-search-input:-ms-input-placeholder {color: transparentize($primary,.8); }
  .sb-search-open {
    .sb-search-input{
      background-color: white;
      @media (min-width: $screen-sm-min){
        width: 400px;
      }
      @media (min-width: $screen-md-min){
        width: 600px;
      }
      @media (min-width: $screen-lg-min){
        width: 800px;
      }
      padding: 0 $padding-base-horizontal;
    }
    .sb-icon-search{
      @media (min-width: $screen-sm-min){
        background:transparentize($tertiary, .9);
        color: $tertiary;
      }
    }
  }
}

.navbar-search{
  input[type="search"]{
    @include border-radius(100px);
  }
}
