/*
 * Off Canvas
 * --------------------------------------------------
 */


$sidebar_width: 260px;

// Defaults

.offcanvas-content{
  z-index: 99;
  -webkit-transform-style: preserve-3d;
  @include transform(translate3d(0,0,0));
}

.offcanvas-toggle{
  position: absolute;
  display: block;
  top:0;
  z-index: 10000;
  margin-left: 15px;
  margin-right: 15px;
  &[data-side='left']{
    left: 0;
    margin-left: 0;
  }
  &[data-side='right']{
    right: 0;
    margin-right: 9px;
  }
  .icon-bar{
    @include transform(0);
    @include transition(all .5s ceaser($easeOutQuint) .30s);
    position: relative;
    top: 0;
  }
}

.offcanvas-sidebar, .offcanvas-content, .offcanvas-navbar{
  @include transition(all .45s ceaser($easeOutQuint));
}

// Active State

.offcanvas-active-left{
  .offcanvas-toggle[data-side='left'] .icon-bar{
    background-color: white;
    &:nth-child(2){ top: 8px;  @include transform(rotate(45deg)); }
    &:nth-child(4){ top: -8px; @include transform(rotate(-45deg)); }
    &:nth-child(3){ opacity: 0; }
  }
}
.offcanvas-active-right{
  .offcanvas-toggle[data-side='right'] .icon-bar{
    background-color: white;
    &:nth-child(2){
      top: 8px;
      @include transform(rotate(45deg)); 
    }
    &:nth-child(3){
      opacity: 0;
    }
    &:nth-child(4){
      top: -8px;
      @include transform(rotate(-45deg)); 
    }
  }
}


// Mobile-only Styles
@media screen and (max-width: $screen-sm-max) {
  html, body, .offcanvas-container, .offcanvas-wrapper, .offcanvas-content{
    // overflow-x: hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
  body{
    position: relative;
  }

  // Default States
  .offcanvas-container{
    -webkit-perspective: 1500px;
  }
  .offcanvas-wrapper{
    padding-top: $base-line-height*3;
    overflow-x:hidden;
  }
  .overflow-content{
    @include transform-origin(0 50%);
  }
  .offcanvas-navbar{
    position: absolute;
  }
  .offcanvas-sidebar{
    height: 100%;
    overflow-y:scroll;
    position: fixed;
  }
  .offcanvas-sidebar-left{
    z-index: 1000;
    width: $sidebar_width;
    background-color: $secondary_bg_color;
    @include background-image($secondary_bg_gradient);
    @include blue-background-colors;
    @include transform(translate3d(- $sidebar_width,0,0));
    @include transition(all .45s ceaser($easeOutQuint));
  }

  .offcanvas-sidebar-right{
    @include blue-background-colors;
    @include make-sm-column(6);
    @include transition(all .45s ceaser($easeOutQuint));
    @include transform(translate3d(100%,0,0));
    position: fixed;
    height: 100vh;
    width: $sidebar_width;
    right: 0;
    top: 0;
    .header, .accented{
      color: $secondary;
    }
    .nav > li{
      width: 100%;
    }
    .navbar-right{
      float: left !important;
      
    }
  }

  // Active Left State
  .offcanvas-active-left{
    .offcanvas-navbar{
      @include transform(translate3d($sidebar_width, 0, 0));
    }
    .offcanvas-sidebar-left{
      @include transform(translate3d(0,0,0));
    }
    .offcanvas-content{
      overflow: hidden;
      opacity: .5;
      @include transform(translate3d($sidebar_width, 0, 0));
    }
  }

  // Active Right State
  .offcanvas-active-right{
    .offcanvas-navbar{
      @include transform(translate3d(- $sidebar_width, 0, 0));
    }
    .offcanvas-content{
      @include transform(perspective(600px) translate3d(-300px, 0, -200px));
      overflow: hidden;
      opacity: .5;
    }
  }

}

// Desktop Styles
@media screen and (min-width: $screen-md-min) {
  html, body, .offcanvas-content{
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
  }



  .offcanvas-container{
    background-color: white;
  }
  .offcanvas-content{
    padding-top: 54px;
  }
  .offcanvas-navbar{
    @include background-image($primary_bg_image);
    overflow: visible;
  }
  .offcanvas-sidebar-left{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    // height: 100%;
  }
}
