.pricing-header{
  .subtitle{
    // @include adjust-font-size-to($h5_font_size);
    // @include font-weight-light;
    // @include adjust-leading-to(2,$h5_font_size);
  }
}

.pricing-section{
  overflow: hidden;
  .headline{
    @extend .text-center;
    @include box-shadow(0 0 0px 1px transparentize($light_text,.75));
    @include rhythm(0,1,1,0);
    .price{
      @include rhythm(0,0,0,0);
    }
    .plan{
      @include rhythm(0,0,0,0);
      opacity: .5;
    }
  }
  .tier{
    @include box-shadow(inset 0 0 0px 1px transparentize($light_text,.75));
    @include trailer(2);
    overflow: hidden;
    @media screen and (min-width: $screen-sm-min){
      @include border-radius(0);
    }
  }
  .value{
    @include box-shadow(inset 0 0 0px 1px transparentize($primary_bg_color,.75));
    .headline{
      @include box-shadow(none);
      @extend %inverted;
      @extend %blue-background;
      small{
        color: white;
        opacity: .5;
      }
    }
    .btn{
      @extend .btn-primary;
    }
  }
  .footnotes{
    @include trailer(1);
    p{
      @extend .light;
      @include adjust-font-size-to(12px);
      @include rhythm(0,0,0,0);
    }
  }
  .pad{
    padding: 0 $padding-base-horizontal; 
  }
}
.tier-lines{
  @include rhythm(1,0,0,1);
}
.tier-line{
  @extend .text-center;
  // @include trailing-border(1px, .5, 14px);
  // border-color: transparentize($lightest_gray, .75);
  p{
    @include adjust-font-size-to(14px);
    @include rhythm(0,0,0,0,14px);
    @include rhythm(0,0,0,0);
  }
  em{
    font-style: italic;
  }
  &.blank, &:last-child{
    border-color: transparent;
  }
  &.feature, &.pack{
    @extend .light;
  }
}
