/*
******************
** General Section Styles
******************
*/

.blue-section{
  @extend %blue-background;
  // min-height: 528px;
  // min-height: 100vh;
  position: relative;
  background-color:$primary_bg_color;
  color: $primary_bg_text;
  .btn{
    // @include btn-rounded;
    // @include btn-white;
    margin-right: $padding-base-horizontal*2;
  }
}


%section{
  // @include rhythm(0,2,2,0);
  @include rhythm(0,3,3,0);
}

.inverted-section{
  @extend %section;
  @extend %inverted-background;
  @extend %inverted;
  @extend .text-center;
}

.bottom-border-section{
  @include box-shadow(0 1px 0 rgba(0,0,0,.07));
}

.header-section{
  @include rhythm(0,2,0,2);
}

